:root {
    --White:#FFFFFF;
    --Isabelline: #F9F2ED;
    --Alabaster: #F3E7E6;
    --Dark-beige: #E8DBD0;
    --Table-button: #F1DFDA;
    --Textbox-border-color:#EAD1C3;
    --Textbox-background-color:#F3E3DE;
    --Navy-blue: #002134;
    --Secondary-navy-blue: #001E2D;
    --Navy-blue-low-opacity: rgb(0 33 52 / 70%);
    --Light-black: rgb(0 0 0 / 70%);
    --Purple: #9795E0;
    --Orange: #FF9581;
    --Table-header: rgb(244 231 219 / 60%);
    --In-progress: rgb(186 159 100 / 25%);
    --Returned: rgb(245 145 116 / 20%);
    --Completed: rgb(208 252 216 / 70%);
    --Alinma-plain:"AlinmaTheSans-Plain";
    --Alinma-bold:"AlinmaTheSans-Bold";
}
.theme-entry .ajaxLoader{
    z-index:99;
    position: fixed;
}
html:not(.designer),:not(.designer) body{
    font-size: 14px;
    font-family: var(--Alinma-plain)!important;
}
@font-face {
    font-family: "AlinmaTheSans-Plain";
    src: url("https://frontenduiux.github.io/Al_Inmaa_Bank/fonts/AlinmaTheSans-Plain.ttf");
    font-display: swap;
}

@font-face {
    font-family: "AlinmaTheSans-Bold";
    src: url("https://frontenduiux.github.io/Al_Inmaa_Bank/fonts/AlinmaTheSans-Bold.ttf");
    font-display: swap;
}
/* VIEW TITLE START */
[name*="viewTitle"]{
	font-family:var(--Alinma-bold);
	color: var(--Navy-blue)!important;
	padding-bottom: unset!important;
	font-size:1.4rem;
}
/* VIEW TITLE END */
/*  POPUPS ICONS */
html:not(.designer) .theme-entry .message-box-content.confirmation:before,
html:not(.designer) .theme-entry .message-box-content.info:before,
html:not(.designer) .theme-entry .message-box-content.message:before,
.theme-entry .message-box-content.message:before{
	background-image: url("https://frontenduiux.github.io/OBB_Services/Images/general.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	top: 50%;
	transform: translateY(-50%);
}
html:not(.designer) .theme-entry .message-box-content.warning:before{
	background-image: url("https://frontenduiux.github.io/OBB_Services/Images/Warning.svg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	top: 50%;
	transform: translateY(-50%);
}
/* POPUP BRANDING START */
html:not(.designer) .theme-entry .message-box-content,
html:not(.designer) .theme-entry .dialog .popup-body{
    height: fit-content;
    min-height: 5rem;
}
html:not(.designer) .theme-entry .popup.dialog.error-message:not(.runtime-message) .message-box-content .panel-body-m-c{
	margin: 0;
}
.theme-entry .base2.base1.modalizer
html:not(.designer) .theme-entry .popup-header,
html:not(.designer) .theme-entry .popup-body,
html:not(.designer) .theme-entry .popup-footer{
position:relative!important;
top:unset!important;
bottom:unset!important;
left:unset!important;
right:unset!important;
width:100%;
height:fit-content!important;
}
html:not(.designer) .theme-entry .popup-header{
    padding:1rem 2rem;
    background-color:#f7f7f7;
    margin: 0!important;
    position: relative!important;
    height: fit-content!important;
    left: 0;
}
html:not(.designer) .theme-entry .popup-body{
padding:1rem 2rem 0;
border-bottom:none!important
}
html:not(.designer) .theme-entry .popup-footer{
    padding:0rem 2rem 1rem;
    border-top:none!important;
}
html:not(.designer) .popup.dialog{
    height:fit-content!important;
    border-radius:1rem!important;
    overflow:hidden;
}
html:not(.designer) .popup.dialog .popup-header .popup-header-text{
    font-size:1.4rem;
}
html:not(.designer) .theme-entry .message-box-content.error:before{
    background-image:url("https://frontenduiux.github.io/OBB_Services/Images/error.svg");
    background-size:3rem;
    background-repeat:no-repeat;
    background-position:center;
	top: 50%;
	transform: translateY(-50%);
}
/* POPUP BRANDING END */
/* PADDINGS */
/* PADDING 1rem - top, bottom, left, right */
[name*="pt-1"]{
	padding-top:1rem!important;
}
[name*="pb-1"]{
	padding-bottom:1rem!important;
}
[name*="pl-1"]{
	padding-left:1rem!important;
}
[name*="pr-1"]{
	padding-right:1rem!important;
}
/* PADDING 2rem - top, bottom, left, right */
[name*="pt-2"]{
	padding-top:2rem!important;
}
[name*="pb-2"]{
	padding-bottom:2rem!important;
}
[name*="pl-2"]{
	padding-left:2rem!important;
}
[name*="pr-2"]{
	padding-right:2rem!important;
}
/* PADDING 3rem - top, bottom, left, right */
[name*="pt-3"]{
	padding-top:3rem!important;
}
[name*="pb-3"]{
	padding-bottom:3rem!important;
}
[name*="pl-3"]{
	padding-left:3rem!important;
}
[name*="pr-3"]{
	padding-right:3rem!important;
}
/* PADDING 4rem - top, bottom, left, right */
[name*="pt-4"]{
	padding-top:4rem!important;
}
[name*="pb-4"]{
	padding-bottom:4rem!important;
}
[name*="pl-4"]{
	padding-left:4rem!important;
}
[name*="pr-4"]{
	padding-right:4rem!important;
}
/* MARGINS */
/* MARGIN 1rem - top, bottom, left, right */
[name*="mt-1"]{
	margin-top:1rem!important;
}
[name*="mb-1"]{
	margin-bottom:1rem!important;
}
[name*="ml-1"]{
	margin-left:1rem!important;
}
[name*="mr-1"]{
	margin-right:1rem!important;
}
/* MARGIN 1.6rem - top, bottom, left, right */
[name*="mt-16"]{
	margin-top:1.6rem!important;
}
[name*="mb-16"]{
	margin-bottom:1.6rem!important;
}
[name*="ml-16"]{
	margin-left:1.6rem!important;
}
[name*="mr-16"]{
	margin-right:1.6rem!important;
}
/* MARGIN 2rem - top, bottom, left, right */
[name*="mt-2"]{
	margin-top:2rem!important;
}
[name*="mb-2"]{
	margin-bottom:2rem!important;
}
[name*="ml-2"]{
	margin-left:2rem!important;
}
[name*="mr-2"]{
	margin-right:2rem!important;
}
/* MARGIN 3rem - top, bottom, left, right */
[name*="mt-3"]{
	margin-top:3rem!important;
}
[name*="mb-3"]{
	margin-bottom:3rem!important;
}
[name*="ml-3"]{
	margin-left:3rem!important;
}
[name*="mr-3"]{
	margin-right:3rem!important;
}
/* MARGIN 4rem - top, bottom, left, right */
[name*="mt-4"]{
	margin-top:4rem!important;
}
[name*="mb-4"]{
	margin-bottom:4rem!important;
}
[name*="ml-4"]{
	margin-left:4rem!important;
}
[name*="mr-4"]{
	margin-right:4rem!important;
}
/* MARGIN auto - top, bottom, left, right */
[name*="mt-auto"],.mt-auto{
	margin-top:auto!important;
}
[name*="mb-auto"],.mb-auto{
	margin-bottom:auto!important;
}
[name*="ml-auto"],.ml-auto{
	margin-left:auto!important;
}
[name*="mr-auto"],.mr-auto{
	margin-right:auto!important;
}
[name*="m-auto"],.m-auto{
	margin:auto!important;
}
/* DISPLAYS */
[name*="d-flex"],.d-flex{
	display:flex!important;
}
[name*="d-none"],.d-none{
	display:none!important;
}
[name*="d-block"],.d-block{
	display:block!important;
}
[name*="flex-column"],.flex-column{
	flex-direction:column!important;
}
html:not(.designer) [name*="s_textbox"],
html:not(.designer) [name*="s_dropdown"]{
    border: 1px solid var(--Textbox-border-color) !important;
    background-color: var(--Textbox-background-color) !important;
    font-size: 1rem !important;
    border-radius: .5rem !important;
    padding: .4rem 1rem !important;
    padding: 0 !important;
    /* vertical-align: middle; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: var(--Alinma-plain);
    width: 100%;
    min-height: 3.5rem !important;
    height: 3.5rem !important;
    align-content: center;
    padding: 0 1rem!important;
    position: relative;
}
html:not(.designer) .on-focus[name*="s_dropdown"] .select-box .input-control-body{
	padding-top:.8rem;
}
html:not(.designer) .on-focus[name*="s_textbox"] [name*="s_label"]{
	font-size:.8rem!important;
	color:var(--Navy-blue);
	transform:translateY(-.7rem);
	padding: 0!important;
}
html:not(.designer) .input-control.select-box.dropdown-box .input-control-m-c,
html:not(.designer) .input-control-buttons.styling-right.styling-inner-wrapper{
    background-color:transparent!important;
    border:none!important;
    /* position: absolute!important; */
    /* top: -0.6rem; */
    height: 100%!important;
    min-height: 2rem!important;
    display: flex;
    align-items: center;
}
html:not(.designer) .input-control.select-box.dropdown-box{
    height: 100%;
    min-height:2rem!important;
    width:calc(100% - 2rem)!important;
}
html:not(.designer) .theme-entry .input-control a.input-control span, 
html:not(.designer) .theme-entry .input-control.watermark a.input-control span{
    padding:0!important;
    line-height: normal!important;
    min-height: unset!important;
    height: unset!important;
}
html:not(.designer) .theme-entry .input-control a.input-control{
    height:100%!important;
    display:flex;
    align-items:center;
    /* justify-content:center; */
}
.theme-entry .input-control.text-input .input-control-m-c{
	border:none!important;
	background-color: transparent;
}
[name*="s_textbox"] input.SourceCode-Forms-Controls-Web-TextBox {
    position:absolute!important;
    z-index:0!important;
    /* height:100%!important; */
    width: calc(100% - 2rem)!important;
    border:0!important;
    background-color:transparent!important;
    height: 2rem!important;
    min-height: 2rem!important;
    padding: 0!important;
    top: 1.4rem;
}
[name*="s_textarea"] textarea{
    position:absolute!important;
    z-index:0!important;
    /* height:100%!important; */
    width: calc(100% - 2rem)!important;
    border:0!important;
    background-color:transparent!important;
    min-height: 2rem!important;
    padding: 0!important;
    top: -0.5rem;
    font-family: var(--Alinma-plain)!important;
}
html:not(.designer) .readonly[name*="s_textbox"],
html:not(.designer) .empty[name*="s_textbox"],
html:not(.designer) .disabled[name*="s_textbox"],
.ui-lookupbox-disabled,
.input-control.select-box.read-only .input-control-m-c,
.read-only textarea .input-control-m-c{
    background-color: #F9F0EB !important;
    border: 1px solid rgb(57 94 117 / 60%) !important;
}

html:not(.designer) [name*="s_dropdown"] {
    cursor: pointer;
}
html:not(.designer) [name*="s_dropdown"] [name*="s_label"] {
	position:absolute;
	top:50%;
	transform:translateY(-50%);
}
html:not(.designer) [name*="s_label"] {
    font-size: 1rem;
    color: var(--Light-black);
    font-family: 'AlinmaTheSans-Plain';
    transition: all .3s ease-in-out;
    height: unset!important;
    min-height: unset!important;
    line-height: unset!important;
}

html:not(.designer) [name*="s_textarea"] {
    border: 1px solid var(--Textbox-border-color) !important;
    background-color: var(--Textbox-background-color) !important;
    font-size: 1rem !important;
    border-radius: .5rem !important;
    padding: .4rem 1rem !important;
    display: flex;
    align-items: center;
    font-family: var(--regularFont) !important;
    width: 100%;
    min-height: 3rem !important;
}

html:not(.designer) [name*="s_button"],
html:not(.designer) .theme-entry .dialog .popup-footer .SourceCode-Forms-Controls-Web-Button{
    border-radius: .5rem !important;
    padding: 0.6rem 2.4rem !important;
    font-size: 1.05rem;
    font-family: var(--Alinma-plain);
}

html:not(.designer) [name*="s_button s_primary_button"],
html:not(.designer) .theme-entry .dialog .popup-footer .SourceCode-Forms-Controls-Web-Button {
    background-color: var(--Navy-blue)!important;
    color: var(--White)!important;
    border: 1px solid var(--Navy-blue)!important;
}
html:not(.designer) [name*="s_button s_secondary_button"] {
    border:1px solid var(--Navy-blue)!important;
    color: var(--Navy-blue)!important;
    background-color: transparent;
    transition: all .3s ease-in-out;
}
html:not(.designer) [name*="s_button s_save_button"] {
    position: relative;
    background-color: transparent!important;
    border:none;
    font-size: 1.05rem;
    font-family: var(--Alinma-plain);
}
html:not(.designer) [name*="s_button s_save_button"]:hover{
    background-color: rgb(0 33 52 / 12%);
}
/* control  buttons*/
div#d0300780-c69e-30af-366b-fb216c06c0a2_18a1ca65-4c9d-7340-a6d9-d6da3cb0f632_Table {
    display: flex;
    justify-content: space-between;
}
html:not(.designer) [name*="s_button s_save_button"]::before{
    content:"";
    position: absolute;
    top: 50%;
	left:0rem;
    transform:translateY(-50%);
    height: 1.3rem;
    width: 1.3rem;
    background-image: url("https://frontenduiux.github.io/Al_Inmaa_Bank/images/k2/save-icon.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
html:not(.designer) [name*="s_asterik"] {
    color: var(--Navy-blue)!important;
}
/* form */
html:not(.designer) .form {
   margin: 0!important;
   position: relative;
   padding: 0 2rem;
   border-radius: 1rem;
   overflow: hidden;
   /* min-height: 40rem;
   height: min-content; */
   border: 1.6px solid #e5e4de;
   /* opacity: 0;
   transform: translateY(100%);
   animation: 1s fadeUp 2s forwards; */
}
/* sub sidebar start  */
[name*="s_sub_sidebar"] {
   position: absolute;
    left: 0;
    width: 23rem!important;
    border-right: 1px solid rgb(0 0 0 / 10%);
    border-radius: 0!important;
    height: 100%!important;
}
[name*="s_sub_sidebar"] {
    position: absolute!important;
    left: 2rem;
    width: 20rem!important;
    background-color: white;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
/* header */
html:not(.designer) .theme-entry [name*="s_header"] {
    position:fixed;
    top:0;
    left:22rem;
    width: calc(100% - 22rem);
    background-color: #f9f2ed;
    z-index: 1;
    padding: 1rem 3rem;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity:0;
    transform:translateY(-50%);
    animation:1s fadeDown forwards;
}
html:not(.designer) .panel{
    background-color:transparent!important;
}
html:not(.designer) body.theme-entry{
    padding-top:8rem;
    /* height: 100%; */
}
html:not(.designer) [name*="view_move_right"]{
    margin-left: 22rem!important;
    width: calc(100% - 22rem)!important;
    height: unset;
    min-height: unset;
}
html:not(.designer) .theme-entry span[name*="PageTitle"]{
    font-size: 1.6rem!important;
    font-family: var(--Alinma-bold)!important;
    padding-bottom: unset!important;
    color: #002134!important;
}
html:not(.designer) .theme-entry [name*="PageDesc"]{
    font-size: 1rem;
    font-family: var(--Alinma-plain)!important;
    padding-top: 0!important;
}
html:not(.designer) .closeSubPanel:hover{
    background-color: var(--Navy-blue-low-opacity);
}
html:not(.designer) .on-focus[name*="s_dropdown"] [name*="s_label"] {
    top: 25%!important;
    padding: 0;
	font-size: .8rem !important;
    color: var(--Navy-blue);
}
.theme-entry .root-table.Grid-Layout>.editor-cell.lastrow, .theme-entry .root-table.editor-grid>.editor-cell.lastrow {
    padding: 0!important;
}
html:not(.designer) .row:not([style*="display: none;"]) .view {
    padding: 0 1rem!important;
    margin: .7rem 0 0!important;
}
html:not(.designer) .row:not([style*="display: none;"]){
	/* margin-bottom:1rem!important; */
}
html:not(.designer) .theme-entry .root-table.Grid-Layout>.editor-cell.lastrow, .theme-entry .root-table.editor-grid>.editor-cell.lastrow {
    padding: 0!important;
}
html:not(.designer) div#\38 e458c01-9131-958c-6a07-4ffe569768cf_9fdca353-36fd-de2d-3a7f-ac96d5f78878_Table,
html:not(.designer) span#\30 c681cbb-b33a-fadc-6c71-3df1f2a23845,
html:not(.designer) [name*="tableGap"] {
    gap: 0.7rem 0rem;
}
/* stepper */
html:not(.designer) .completedStep::before{
    content:"";
    background-image:url("https://frontenduiux.github.io/Al_Inmaa_Bank/images/k2/Done.png");
    background-size:contain;
    height: 2.9rem;
    width: 2.9rem;
    background-repeat:no-repeat;
    position:absolute;
    left: 0rem;
    top:50%;
    transform:translateY(-50%);
}
html:not(.designer) .inProgressStep::before{
    content:"";
    background-image:url("https://frontenduiux.github.io/Al_Inmaa_Bank/images/k2/InProgress.png");
    background-size:contain;
    height: 2.9rem;
    width: 2.9rem;
    background-repeat:no-repeat;
    position:absolute;
    left: 0rem;
    top:50%;
    transform:translateY(-50%);
}
html:not(.designer) .pendingStep::before{
    content:"";
    background-image:url("https://frontenduiux.github.io/Al_Inmaa_Bank/images/k2/Pending.png");
    background-size:contain;
    height: 2.9rem;
    width: 2.9rem;
    background-repeat:no-repeat;
    position:absolute;
    left: 0rem;
    top:50%;
    transform:translateY(-50%);
}
html:not(.designer) [name*="s_step"]{
    padding-left: 4rem;
    position:relative;
	margin-bottom:2rem;
	overflow:visible;
}
html:not(.designer) [name*="s_step"]::after{
	content:"";
	position:absolute;
	z-index: 0;
	left: 1.5rem;
	top: 100%;
	width:1px;
	height: 2.5rem;
	background-color: rgb(0 0 0 / 15%) !important;
}
html:not(.designer) .completedStep[name*="s_step"]::after{
	content:"";
	position:absolute;
	z-index: 0;
	left: 1.4rem;
	top: 100%;
	width:1.5px;
	height: 2.3rem;
	background-color: #6fc978!important;
}
html:not(.designer) [name*="stepTitle"]{
	color:#002134!important;
	font-size:1.1rem;
	font-family:var(--Alinma-bold);
	padding:0!important;
}
html:not(.designer) [name*="stepDescription"]{
	font-size:1rem;
	color:rgb(0 0 0 / 70%)!important;
	font-family:var(--Alinma-plain);
	padding:0!important;
}
/* remove the vertical line from the last step */
div#\36 fb1c2f9-761d-94a4-edc6-7090c460123a_f25fbbe5-959e-25be-71e6-246c4c9fc7ba_Table::after {
    display:none!important;
}
/* position control buttons at the bottom of the form */
html:not(.designer) div#a1785b7c-5537-44bf-a510-6f3e6760d6b1_9cf1ee05-5e62-9845-8d82-6c780b7d3e16_d0300780-c69e-30af-366b-fb216c06c0a2_aaa4b5ee-9511-44ba-ac7e-91b5ad0b7cba {
   margin-bottom: 2rem!important;
   margin-top: 2rem!important;
}
.runtime-content {
    margin: 0 3rem!important;
}

.on-focus[name*="s_textarea"] [name*="s_label"] {
    transform: translateY(-0.6rem);
    font-size: .8rem;
}
/* radio button */
html:not(.designer) .theme-entry .input-control.radio.style-aware svg .svg-radio-btn-circle,
html:not(.designer) .theme-entry .input-control.radio.style-aware circle.svg-radio-btn-checked {
	fill:var(--Isabelline)!important;
	stroke:none;
}
html:not(.designer) .input-control.style-aware.radio.checked circle.svg-radio-btn-checked {
    fill: var(--Purple)!important;
    r:8;
}
html:not(.designer) .theme-entry .stack-container .stack div.multi-select-box-list-item label.input-control .input-control-text{
	max-width:unset!important;
	min-height:unset!important;
	line-height:unset!important;
	height:unset!important;
	font-size:1.05rem!important;
	font-family:var(--Alinma-plain)!important;
}
html:not(.designer) .theme-entry .stack-container .stack div.multi-select-box-list-item label.input-control{
	display:flex;
	align-items:center;
}
html:not(.designer) [name*="attachmentSection"] .toolbar .toolbar-wrapper>table>tbody>tr>td:first-child {
    display: flex;
    justify-content: flex-end;
    height: 5rem;
}
html:not(.designer) [name*="attachmentSection"] .grid-column-headers{
    margin:0 2rem!important;
    border-radius:.5rem;
    background-color:#f8efe8!important;
}
html:not(.designer) [name*="attachmentSection"]{
    border: 1px solid rgb(0 0 0 / 10%)!important;
    border-radius: .8rem!important;
}
/* toolbar icons */
.toolbar-button.add,
.toolbar-button.edit,
.toolbar-button.delete{
    position: relative;
    padding:0 1rem;
}
.toolbar-button.add svg,
.toolbar-button.edit svg,
.toolbar-button.delete svg{
    display:none;
}
.toolbar-button::before{
     content:"";
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    left:0.3rem;
    background-repeat:no-repeat;
    background-position:center;
    background-size:contain;
    height:1rem;
    width:1rem;
}
.toolbar-button.add::before{
    background-image:url("https://frontenduiux.github.io/Al_Inmaa_Bank/images/k2/add.svg");
}
.toolbar-button.edit::before{
    background-image:url("https://frontenduiux.github.io/Al_Inmaa_Bank/images/k2/edit.svg");
}
.toolbar-button.delete::before{
    background-image:url("https://frontenduiux.github.io/Al_Inmaa_Bank/images/k2/delete.svg");
}
html:not(.designer) .theme-entry .grid.without-footer.without-summary .grid-body-content-wrapper{
    background-color: transparent!important;
}
html:not(.designer) [name*="attachmentSection"] .grid-column-headers .grid-column-header-text {
    color: #001e2d!important;
    text-transform: capitalize;
    font-family: var(--Alinma-plain);
}
.theme-entry .input-control.select-box .input-control-buttons a:hover{
	background-color:transparent!important
}
.theme-entry .input-control.text-input.readonly .input-control-m-c, 
.theme-entry .input-control.text-input.read-only .input-control-m-c{
    background-color: transparent!important;
}
.theme-entry .base2.base1.modalizer{
    z-index: 99!important;
}