:root {
    --White:#FFFFFF;
    --Isabelline: #F9F2ED;
    --Alabaster: #F3E7E6;
    --Dark-beige: #E8DBD0;
    --Table-button: #F1DFDA;
    --Textbox-border-color:#EAD1C3;
    --Textbox-background-color:#F3E3DE;
    --Navy-blue: #002134;
    --Secondary-navy-blue: #001E2D;
    --Navy-blue-low-opacity: rgb(0 33 52 / 70%);
    --Light-black: rgb(0 0 0 / 70%);
    --Purple: #9795E0;
    --Orange: #FF9581;
    --Table-header: rgb(244 231 219 / 60%);
    --In-progress: rgb(186 159 100 / 25%);
    --Returned: rgb(245 145 116 / 20%);
    --Completed: rgb(208 252 216 / 70%);
    --Alinma-plain:"AlinmaTheSans-Plain";
    --Alinma-bold:"AlinmaTheSans-Bold";
}
html:not(.designer),:not(.designer) body{
    font-size: 14px;
    font-family: var(--Alinma-plain)!important;
}
@font-face {
    font-family: "AlinmaTheSans-Plain";
    src: url("https://frontenduiux.github.io/Al_Inmaa_Bank/fonts/AlinmaTheSans-Plain.ttf");
    font-display: swap;
}

@font-face {
    font-family: "AlinmaTheSans-Bold";
    src: url("https://frontenduiux.github.io/Al_Inmaa_Bank/fonts/AlinmaTheSans-Bold.ttf");
    font-display: swap;
}
/* PADDINGS */
/* PADDING 1rem - top, bottom, left, right */
[name*="pt-1"]{
	padding-top:1rem!important;
}
[name*="pb-1"]{
	padding-bottom:1rem!important;
}
[name*="pl-1"]{
	padding-left:1rem!important;
}
[name*="pr-1"]{
	padding-right:1rem!important;
}
/* PADDING 2rem - top, bottom, left, right */
[name*="pt-2"]{
	padding-top:2rem!important;
}
[name*="pb-2"]{
	padding-bottom:2rem!important;
}
[name*="pl-2"]{
	padding-left:2rem!important;
}
[name*="pr-2"]{
	padding-right:2rem!important;
}
/* PADDING 3rem - top, bottom, left, right */
[name*="pt-3"]{
	padding-top:3rem!important;
}
[name*="pb-3"]{
	padding-bottom:3rem!important;
}
[name*="pl-3"]{
	padding-left:3rem!important;
}
[name*="pr-3"]{
	padding-right:3rem!important;
}
/* PADDING 4rem - top, bottom, left, right */
[name*="pt-4"]{
	padding-top:4rem!important;
}
[name*="pb-4"]{
	padding-bottom:4rem!important;
}
[name*="pl-4"]{
	padding-left:4rem!important;
}
[name*="pr-4"]{
	padding-right:4rem!important;
}
/* MARGINS */
/* MARGIN 1rem - top, bottom, left, right */
[name*="mt-1"]{
	margin-top:1rem!important;
}
[name*="mb-1"]{
	margin-bottom:1rem!important;
}
[name*="ml-1"]{
	margin-left:1rem!important;
}
[name*="mr-1"]{
	margin-right:1rem!important;
}
/* MARGIN 1.6rem - top, bottom, left, right */
[name*="mt-16"]{
	margin-top:1.6rem!important;
}
[name*="mb-16"]{
	margin-bottom:1.6rem!important;
}
[name*="ml-16"]{
	margin-left:1.6rem!important;
}
[name*="mr-16"]{
	margin-right:1.6rem!important;
}
/* MARGIN 2rem - top, bottom, left, right */
[name*="mt-2"]{
	margin-top:2rem!important;
}
[name*="mb-2"]{
	margin-bottom:2rem!important;
}
[name*="ml-2"]{
	margin-left:2rem!important;
}
[name*="mr-2"]{
	margin-right:2rem!important;
}
/* MARGIN 3rem - top, bottom, left, right */
[name*="mt-3"]{
	margin-top:3rem!important;
}
[name*="mb-3"]{
	margin-bottom:3rem!important;
}
[name*="ml-3"]{
	margin-left:3rem!important;
}
[name*="mr-3"]{
	margin-right:3rem!important;
}
/* MARGIN 4rem - top, bottom, left, right */
[name*="mt-4"]{
	margin-top:4rem!important;
}
[name*="mb-4"]{
	margin-bottom:4rem!important;
}
[name*="ml-4"]{
	margin-left:4rem!important;
}
[name*="mr-4"]{
	margin-right:4rem!important;
}
/* MARGIN auto - top, bottom, left, right */
[name*="mt-auto"],.mt-auto{
	margin-top:auto!important;
}
[name*="mb-auto"],.mb-auto{
	margin-bottom:auto!important;
}
[name*="ml-auto"],.ml-auto{
	margin-left:auto!important;
}
[name*="mr-auto"],.mr-auto{
	margin-right:auto!important;
}
[name*="m-auto"],.m-auto{
	margin:auto!important;
}
/* DISPLAYS */
[name*="d-flex"],.d-flex{
	display:flex!important;
}
[name*="d-none"],.d-none{
	display:none!important;
}
[name*="d-block"],.d-block{
	display:block!important;
}
[name*="flex-column"],.flex-column{
	flex-direction:column!important;
}
html:not(.designer) [name*="s_textbox"],
html:not(.designer) [name*="s_dropdown"]{
    border: 1px solid var(--Textbox-border-color) !important;
    background-color: var(--Textbox-background-color) !important;
    font-size: 1rem !important;
    border-radius: .5rem !important;
    padding: .4rem 1rem !important;
    padding: 0 !important;
    /* vertical-align: middle; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: var(--Alinma-plain);
    width: 100%;
    min-height: 3.5rem !important;
    height: 3.5rem !important;
    align-content: center;
    padding: 0 1rem!important;
    position: relative;
}
html:not(.designer) .on-focus[name*="s_textbox"] [name*="s_label"]{
	font-size:.8rem!important;
	color:var(--Navy-blue);
	transform:translateY(-.5rem);
	padding: 0!important;
}
html:not(.designer) .input-control.select-box.dropdown-box .input-control-m-c,
html:not(.designer) .input-control-buttons.styling-right.styling-inner-wrapper{
    background-color:transparent!important;
    border:none!important;
    position: absolute!important;
    top: -0.6rem;
    height: 2rem!important;
    min-height: 2rem!important;
    display: flex;
    align-items: center;
}
html:not(.designer) .input-control.select-box.dropdown-box{
    height:2rem!important;
    min-height:2rem!important;
    width:calc(100% - 2rem)!important;
}
html:not(.designer) .theme-entry .input-control a.input-control span, 
html:not(.designer) .theme-entry .input-control.watermark a.input-control span{
    padding:0!important;
    line-height: normal!important;
    min-height: unset!important;
    height: unset!important;
}
html:not(.designer) .theme-entry .input-control a.input-control{
    height:100%!important;
    display:flex;
    align-items:center;
    justify-content:center;
}
.theme-entry .input-control.text-input .input-control-m-c{
	border:none!important;
	background-color: transparent;
}
[name*="s_textbox"] input.SourceCode-Forms-Controls-Web-TextBox {
    position:absolute!important;
    z-index:0!important;
    /* height:100%!important; */
    width: calc(100% - 2rem)!important;
    border:0!important;
    background-color:transparent!important;
    height: 2rem!important;
    min-height: 2rem!important;
    padding: 0!important;
    top: 1.4rem;
}
[name*="s_textarea"] textarea{
    position:absolute!important;
    z-index:0!important;
    /* height:100%!important; */
    width: calc(100% - 2rem)!important;
    border:0!important;
    background-color:transparent!important;
    min-height: 2rem!important;
    padding: 0!important;
    top: -0.5rem;
}
html:not(.designer) .readonly[name*="s_textbox"],
html:not(.designer) .empty[name*="s_textbox"],
html:not(.designer) .disabled[name*="s_textbox"],
.ui-lookupbox-disabled,
.input-control.select-box.read-only .input-control-m-c,
.read-only textarea {
    background-color: #F9F0EB !important;
    border: 1px solid rgb(57 94 117 / 60%) !important;
}

html:not(.designer) [name*="s_dropdown"] {
    
}

html:not(.designer) [name*="s_label"] {
    font-size: 1rem;
    color: var(--Light-black);
    font-family: 'AlinmaTheSans-Plain';
    transition: all .3s ease-in-out;
    height: unset!important;
    min-height: unset!important;
    line-height: unset!important;
}

html:not(.designer) [name*="s_textarea"] {
    border: 1px solid var(--Textbox-border-color) !important;
    background-color: var(--Textbox-background-color) !important;
    font-size: 1rem !important;
    border-radius: .5rem !important;
    padding: .4rem 1rem !important;
    display: flex;
    align-items: center;
    font-family: var(--regularFont) !important;
    width: 100%;
    min-height: 3rem !important;
}

html:not(.designer) [name*="s_button"]{
    border-radius: .5rem !important;
    padding: 0.8rem 2rem !important;
}

html:not(.designer) [name*="s_button s_primary_button"] {
    background-color: var(--Navy-blue)!important;
    color: var(--White)!important;
}
html:not(.designer) [name*="s_button s_secondary_button"] {
    border:1px solid var(--Navy-blue)!important;
    color: var(--Navy-blue)!important;
    background-color: transparent;
}
html:not(.designer) [name*="s_button s_save_button"] {
    position: relative;
}
html:not(.designer) [name*="s_button s_save_button"]::before{
    content:"";
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
    height: 1.3rem;
    width: 1.3rem;
    background-image: url("https://frontenduiux.github.io/Al_Inmaa_Bank/images/save-icon.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
html:not(.designer) [name*="s_asterik"] {
    color: var(--Navy-blue)!important;
}
/* form */
html:not(.designer) .form {
   /* background-color: transparent!important; */
   margin: 0!important;
   position: relative;
   padding: 2rem;
   border-radius: 1rem;
   overflow: hidden;
}
/* sub sidebar start  */
[name*="s_sub_sidebar"] {
   position: absolute;
    left: 0;
    width: 23rem!important;
    border-right: 1px solid rgb(0 0 0 / 10%);
    border-radius: 0!important;
}
div#a1785b7c-5537-44bf-a510-6f3e6760d6b1_9cf1ee05-5e62-9845-8d82-6c780b7d3e16_6fb1c2f9-761d-94a4-edc6-7090c460123a_e4041454-dd20-40b7-bd47-95b799635f37 {
    position: absolute;
    left: 2rem;
    width: 22rem!important;
    background-color: white;
}
/* header */
html:not(.designer) .theme-entry [name*="s_header"] {
    position:fixed;
    top:0;
    left:22rem;
    width: calc(100% - 22rem);
    background-color: #f9f2ed;
    z-index:2;
    padding: 1rem 2rem;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity:0;
    transform:translateY(-50%);
    animation:1s fadeDown forwards;
}
html:not(.designer) .panel{
    background-color:transparent!important;
}
html:not(.designer) body.theme-entry{
    padding-top:8rem;
    height:calc(100% - 8rem);
}
html:not(.designer) [name*="view_move_right"]{
    margin-left:23rem!important;
    width:calc(100% - 23rem)!important;
}
html:not(.designer) .theme-entry span[name*="PageTitle"]{
    font-size: 1.6rem!important;
    font-family: var(--Alinma-bold)!important;
    padding-bottom: unset!important;
    color: #002134!important;
}
html:not(.designer) .theme-entry [name*="PageDesc"]{
    font-size: 1rem;
    font-family: var(--Alinma-plain)!important;
    padding-top: 0!important;
}
html:not(.designer) .closeSubPanel:hover{
    background-color: var(--Navy-blue-low-opacity);
}