:root {
    --White: #FFFFFF;
    --Isabelline: #F9F2ED;
    --Alabaster: #F3E7E6;
    --Dark-beige: #E8DBD0;
    --Table-button: #F1DFDA;
    --Textbox-border-color: #EAD1C3;
    --Textbox-background-color: #F3E3DE;
    --Navy-blue: #002134;
    --Secondary-navy-blue: #001E2D;
    --Navy-blue-low-opacity: rgb(0 33 52 / 70%);
    --Light-black: rgb(0 0 0 / 70%);
    --Purple: #9795E0;
    --Orange: #FF9581;
    --Table-header: rgb(244 231 219 / 60%);
    --In-progress: rgb(186 159 100 / 25%);
    --Returned: rgb(245 145 116 / 20%);
    --Completed: rgb(208 252 216 / 70%);
    --Alinma-plain: "AlinmaTheSans-Plain";
    --Alinma-bold: "AlinmaTheSans-Bold";
}

@font-face {
    font-family: "AlinmaTheSans-Plain";
    src: url("https://frontenduiux.github.io/Al_Inmaa_Bank/fonts/AlinmaTheSans-Plain.ttf");
    font-display: swap;
}

@font-face {
    font-family: "AlinmaTheSans-Bold";
    src: url("https://frontenduiux.github.io/Al_Inmaa_Bank/fonts/AlinmaTheSans-Bold.ttf");
    font-display: swap;
}
@keyframes fadeLeft{
    0%{
        opacity:0;
        transform:translateX(-100%);
    }
    100%{
        opacity:1;
        transform:translateX(0%);
    }
}
@keyframes fadeDown{
    0%{
        opacity:0;
        transform:translateY(-100%);
    }
    100%{
        opacity:1;
        transform:translateY(0%);
    }
}
@keyframes fadeUp{
    0%{
        opacity:0;
        transform:translateY(100%);
    }
    100%{
        opacity:1;
        transform:translateY(0%);
    }
}
html body {
    background-color: var(--Isabelline)!important;
    width: 100%;
    margin: 0;
    padding: 0;
}

html body ul {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}
html body .overlayShadow{
    position:fixed;
    top:0;
    left:0;
    height:100vh;
    width:100vw;
    background-color:rgb(0 0 0 / 70%);
    z-index: 1;
    display:none;
    transition: all 1s ease-in-out;
}
html body ul.links > li {
    display: flex;
    align-items: center;
    padding: .5rem 1rem;
    cursor: pointer;
    margin-bottom: .5rem;
    border-radius: .5rem;
}
.sidebar ul > li.active{
    background-color: #f3e7e7;
    border-radius: 0.5rem;
    padding: 0.5rem 0.8rem;
    color: var(--Navy-blue);
    font-family: var(--Alinma-bold);
}
html body .sideBarLinksGroup .sidebarCategory:last-child .categoryName{
    margin: 1.5rem 1rem 1rem;
}
.sideBarLinksGroup a{
    font-size: 1.05rem;
    color: var(--Navy-blue);
}
.sideBarLinksGroup li:has(a.disabled){
    color:var(--Navy-blue-low-opacity)!important;
    pointer-events:none!important;
    opacity: .7;
}
li.noSubChildren::after{
    display:none
}
.sideBarLinksGroup .links{
    margin-bottom: unset;
}
.sideBarLinksGroup .icon{
    width: 1.5rem;
    height: auto;
    display: flex;
    justify-content: center;
}
.sideBarLinksGroup .icon img{
 width: 100%;
 height: auto;
}
.sidebar ul > li:hover{
    background-color: #f3e7e7;
}

html body ul.links li .icon{
    margin-right:1rem;
}
li.isSubMenu {
    position: relative;
}
li.isSubMenu::after{
    content:"";
    position:absolute;
    top:50%;
    right:1rem;
    transform:translateY(-50%) rotate(-90deg);
    background-image:url("https://frontenduiux.github.io/Al_Inmaa_Bank/images/net/Chevron\ Down.svg");
    height:.8rem;
    width:.8rem;
    background-repeat:no-repeat;
    background-size:contain;
    background-position:right center;
}
.container {
    max-width: 100% !important;
    margin: 0;
    /* padding-left: 2rem; */
    /* padding-right: 2rem; */
    padding: 0;
}
header{
    opacity:0;
    transform:translateY(-100%);
    animation:1s fadeDown forwards;
}
.subPanel {
    z-index: 0;
    position: fixed;
    background-color: white;
    height: 100vh;
    width: 29rem;
    left: 22rem;
    top: 0;
    bottom: 0;
    transform: translateX(-200%);
    z-index: 1;
    transition: all 1s ease-in-out;
    padding:3rem 2rem;
    border-top-right-radius: 1.5rem;
}
.subPanel.active{
    transform: translateX(0%);
}
.subPanel .subSectionTitle{
    margin-bottom:2.8rem;
    font-family: var(--Alinma-bold);
    font-size: 1.5rem;
    color: var(--Navy-blue);
}
.subPanel ul li{
    background-color:#f1dfda;
    margin-bottom:1rem;
    padding: 0.8rem 1rem;
    display: flex;
    align-items: center;
    border-radius: 0.6rem;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.subPanel ul li:hover{
    background-color: #dac6c0;
}
.subPanel ul li .icon{
    margin-right:1rem;
    background-color: white;
    padding: .5rem;
    width: 2.5rem;
    display: flex;
    height: auto;
    border-radius: .5rem;
}
.subPanel ul li .icon img{
    height: auto;
    width: 100%;
}
.subPanel ul li a{
    font-size: 1.05rem;
    color: var(--Navy-blue);
}
html body header {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.profilePhoto{
    width: 100%;
    height: auto;
}
html body header .dashboardIntro h3 {
    font-family: var(--Alinma-bold);
}

html body header a.logo {
    width: 11rem;
    display: block;
}

html body header a.logo img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

html body aside.sidebar {
    width: 22rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 2rem 1.5rem;
    border-right: 1.5px solid rgb(0 33 52 / 10%);
    z-index: 2;
    background-color: var(--Isabelline);
    opacity: 0;
    transition: all .3s ease-in-out;
    transform: translateX(-100%);
}
html body aside.sidebar .userSettings{
    justify-content:space-between;
}
html body .sidebar .notifications{
    border:none;
    background-color:transparent;
    min-width:unset;
    width: 3.3rem;
    padding-right: unset;
    height: auto;
    display: none;
}
html body .sidebar .notifications img{
    height: auto;
    width: 100%;
}
html body .sidebar .userProfilePhoto{
    margin-right:1rem;
    border-radius: 0.8rem;
    overflow:hidden;
    width: 3rem;
}
html body .sideBarLinksGroup .categoryName{
    margin:2rem 1rem 1rem;
    color:rgb(0 33 52 / 70%)
}
html body .userSettings .userInformations .username{
    font-size:1.14rem;
    font-family:var(--Alinma-bold);
    position:relative;
    color: var(--Navy-blue);
}
html body .userSettings .userInformations .username::after{
    content:"";
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    right:0;
    background-image:url("https://frontenduiux.github.io/Al_Inmaa_Bank/images/net/chevron Down.svg");
    background-size:contain;
    height:.8rem;
    width:.8rem;
    background-repeat:no-repeat;
    background-position:center;
}
html body .userSettings .userInformations .userPosition{
    font-size:.9rem;
    color:rgb(0 33 52 / 70%)
}
html body .kpiCards {
    gap: 0rem 0.8rem;
}

html body .kpiCards .card {
    width: 13rem;
    height: 8.5rem;
    border: 1px solid #E5E4DE;
    border-radius: 1rem;
    opacity: 0;
    transform: translateY(100%);
    animation: 1s fadeUp forwards;
    flex-grow: 1;
    font-family: var(--Alinma-plain);
}
html body .kpiCards .card:nth-child(1){
    animation-delay:.3s;
}
html body .kpiCards .card:nth-child(2){
    animation-delay:.6s;
}
html body .kpiCards .card:nth-child(3){
    animation-delay:.9s;
}
html body .kpiCards .card:nth-child(4){
    animation-delay:1.2s;
}
html body .kpiCards .card .card-body {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

html body .kpiCards .card .card-body .kpiIcon {
    position: absolute;
    top: 1rem;
    right: 1rem;
    height: 2.6rem;
    width: 2.6rem;
}

html body .kpiCards .card .card-body .kpiIcon img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

html body .kpiCards .card .card-body .kpiValue {
    font-size: 2.1rem;
    color: #092342;
    font-family: var(--Alinma-bold);
    margin-bottom: 0rem;
}

html body .kpiCards .card .card-body .kpiName {
    margin-bottom: 0;
    font-size: .9rem;
    color: var(--Secondary-navy-blue);
}

html body .requestsTile {
    /* padding-right: 1rem; */
    opacity: 0;
    transform: translateY(100%);
    animation: 1s fadeUp forwards;
    width: 100%;
    margin-bottom:1rem;
}

html body .requestsTile .card {
    height: 100%;
    border-radius: 1.2rem;
    border: 1px solid #E5E4DE;

}
html body .requestsTile .card .card-header{
    background-color:transparent;
    border: 0;
    padding: 0.9rem 1rem 0;
}
html body .requestsTile .card .card-body{
    padding: 0rem 1rem 1rem;
    border:none!important;
}
h2 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-top: 0;
    margin-bottom: 8px;
}

.requests-total {
    font-size: 1.9rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 0.7rem;
    font-family: var(--Alinma-bold);
    color: var(--Navy-blue);
}

/* --- Progress Bar Styling --- */
.progress-bar-container {
    display: flex;
    height: 0.8rem;
    border-radius: 1rem;
    overflow: hidden;
    margin-bottom: 1.5rem;
    background-color: rgb(0 0 0 / 10%);
}

.request-progress-zone {
    height: 100%;
    /* Width will be set by JavaScript */
}

/* Define colors for each segment */
.marketing-request {
    background-color: #9993c9;
}

.request-a-study {
    background-color: #f09689;
}

.branch-visit-notes {
    background-color: #2a313b;
}

.other {
    background-color: #e5e3d7;
}

/* --- Legend Styling --- */
.request-cards {
    display: flex;
    font-family: var(--Alinma-plain)!important;
    /* Two columns */
    font-size: 1rem;
    border-radius: 1rem;
    overflow: hidden;
    border: 1px solid rgb(0 0 0 /10%);
    flex-direction: column;
    width: 100%;
}

.request-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
    border: 1px solid rgb(0 0 0 / 10%);
    border-top: 0;
    padding: .8rem 1.2rem;
    border-right: none;
}
.request-card:nth-child(2n+1){
    border-left:none;
}
.request-card:nth-child(3),
.request-card:nth-child(4){
    border-bottom:none;
}
.request-name {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 1.5rem;
}

.request-name::before {
    content:"";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    border-radius: 100%;
    margin-right: .5rem;
    height: .8rem;
    width: .8rem;
}
.request-card:nth-child(1) .request-name::before{
    background-color: var(--Purple);
}
.request-card:nth-child(3) .request-name::before{
    background-color: var(--Navy-blue);
}
.request-card:nth-child(2) .request-name::before{
    background-color: var(--Orange);
}
.request-card:nth-child(4) .request-name::before{
    background-color: #e8dbd0;
}
.percentage {
    font-weight: bold;
    color: #333;
}
.subPanel .closeSubpanel{
    background-color: var(--Navy-blue);
    height: 3rem;
    width: 3.5rem;
    transition: all .3s ease-in-out;
    padding: 1rem;
    position: absolute;
    top: 2rem;
    right: -3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
    cursor: pointer;
}
[name="headerLogo"]{
   width: 11rem;
   height: 4rem!important;
   position: absolute;
   right: 1rem;
   top: 1rem;
}
[name="headerLogo"] img{
    height:100%;
    width:100%;
}
.subPanel .closeSubpanel:hover{
    background-color:var(--Navy-blue-low-opacity);
}
.subPanel .closeSubpanel svg{
    height:100%;
    width:100%;
    object-fit:cover;
}
.myRequestsTable{
    background-color: white;
    border-radius: 1rem;
    border: 1px solid #E5E4DE;
    padding: 2rem;
    font-size: 1rem;
    opacity: 0;
    transform: translateY(100%);
    font-family: var(--Alinma-plain);
    animation: 1s fadeUp 1.5s forwards;
    margin-bottom: 2rem;
    margin-top: .6rem;
}
.myRequestsTable th{
    font-weight: 400 !important;
}
 
.myRequestsTable tbody tr:first-child td{
    padding-top: 2rem !important;
}
 
.myRequestsTable tbody tr td:first-child{
    font-family: var(--Alinma-bold);
}
 
.myRequestsTable tbody tr{
    border-bottom: 1px solid rgba(0,0,0,.1);
}
 
.myRequestsTable tbody td{
    padding: 1.2rem 1rem !important;
}
 
.myRequestsTable .service.sort svg{
    width: 1.3rem;
    height: auto;
}
svg.active path:nth-child(1) {
    stroke: var(--Navy-blue);
    opacity:1;
}
svg.active path:nth-child(2) {
    stroke: rgb(0 33 52 / 50%);
}
 .tableHeader,html body .requestsTile .card .card-header h2 {
    color: #002035;
    font-family: var(--Alinma-bold);
    font-size: 1.3rem;
}
 .search-box {
    position: relative;
    max-width: 20rem !important;
    cursor: pointer;
}
 .search-box::before{content:"";position:absolute;left: 0.8rem;top:50%;transform:translateY(-50%);background-image:url("https://frontenduiux.github.io/Al_Inmaa_Bank/images/net/search.svg");background-size:contain;height: 1.3rem;width: 1.3rem;background-repeat:no-repeat;}
 .search-box input {
    padding-left: 2.5rem;
    border: 1px solid #ddd;
    border-radius: 0.6rem;
    background-color: rgb(217 217 217 / 5%);
    padding-top: .5rem;
    padding-bottom: .5rem;
}
 .search-box svg {
    position: absolute;
    left: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    height: 1.2rem;
    width: 1.2rem;
    
}
.status{
    border-radius: .5rem;
    padding: .4rem 1rem;
}
.status.in-progress span{
    background-color: #EEE7D7;
    color: #AE9866;
}
 .badge-returned {
    background-color: #FCE8E1;
    color: #DE6D4D;
}
 .badge-draft {
    background-color: #dbeafe;
    color: #0D567F;
    background-image: repeating-linear-gradient(
        45deg,
        transparent,
        transparent 10px,
        rgba(255, 255, 255, 0.732) 10px,
        rgba(255, 255, 255, 0.692) 15px
    );
}
.status.completed span {
    background-color: var(--Completed);
    color: #2B7635;
}
 .editRow a {
    background-color: #F1DFDB;
    border: 1px solid #e5e5e5;
    color: var(--text-color);
    padding: 0.2rem 0.5rem;
    border-radius: 0.3rem;
    display: inline-flex;
    align-items: center;
    gap: 0.3rem;
    transition: all 0.2s;
}
 .editRow a.disabled {
    opacity: 0.4;
    cursor: not-allowed;
}
 .sort-icon {
    color: #999;
    font-size: 12px;
    margin-left: 4px;
}
.request-number{
    display: flex;
    align-items: center;
    gap:.5rem;
    position: relative;
    padding-left: 2rem;
    padding-left: 1.6rem;
}
th, td, thead, tbody{
border:none;
}
table td .request-number::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-image: url("https://frontenduiux.github.io/Al_Inmaa_Bank/images/net/External_Link.svg");
    background-size: contain;
    height: 1rem;
    width: 1rem;
    background-repeat: no-repeat;
    background-position: center;
}
table td .editRow a{
    position: relative;
}
table td .editRow a::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-image: url("https://frontenduiux.github.io/Al_Inmaa_Bank/images/net/edit.svg");
    background-size: contain;
    height: 1rem;
    width: 1rem;
    background-repeat: no-repeat;
    background-position: center;
}
 .table thead th:first-child,
 .table tbody td:first-child {
    position: sticky;
    left: 0;
    z-index: 1;
    background-color: #fff;
}
 .table thead th:first-child {
    z-index: 1;
    background-color: #F8EFE8;
}

 thead tr {
     background-color: var(--Table-header);
     padding:.4rem 0!important;
       }
       thead tr th:last-child span{
      border-right: unset;
}
 .table thead th {
    border: none;
    padding: 1rem 1rem!important;
    background-color: rgb(244 231 219) !important;
    color: #002134!important;
}
 thead th span{
      border-right: 1px solid rgb(0 0 0 / 10%);
      padding:0 1rem;
      width: 100%;
      display: block;
 }
 thead th:first-child {border-radius: 0.8rem 0 0 0.8rem;}
 thead th:last-child {
    border-radius: 0 0.8rem 0.8rem 0;
    border-right: none;
}
.table tbody td {
    padding: 1rem !important;
    vertical-align: middle;
    color: var(--text-color);
}
.table tbody tr:last-child {border-color: transparent !important;}
 .request-number {
    color: var(--text-color);
    text-decoration: none;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    gap: 0.3rem;
    margin-left: 0.5rem;
}
.myRequestsTable tbody td:last-child{
    display: flex;
    justify-content: center;
}
.myRequestsTable div:first-child{
    margin-bottom: .5rem;
}
 .request-number:hover {
    text-decoration: underline;
}
.status span{
    padding: 0.4rem .1rem!important;
    border-radius: 0.5rem;
    font-weight: 500;
    width: 6rem;
    border: 1px solid hwb(0deg 0% 100% / 6%);
    width: 100%;
    font-family: var(--Alinma-bold);
    display: block;
    text-align: center;
}
 .status.in-progress span{
    background-color: #EEE7D7;
    color: #AE9866;
}
 .status.returned span {
    background-color: #FCE8E1;
    color: #DE6D4D;
}
 .status.draft span {
    background-color: #dbeafe;
    color: #0D567F;
    background-image: repeating-linear-gradient(
        45deg,
        transparent,
        transparent 10px,
        rgba(255, 255, 255, 0.732) 10px,
        rgba(255, 255, 255, 0.692) 15px
    );
}
  .status.submit span,
.status.completed span{
    background-color: #DEFCE2;
    color: #2B7635;
}
 .btn-edit {
    background-color: #F1DFDB;
    border: 1px solid #e5e5e5;
    color: var(--Navy-blue);
    padding: 0.3rem 0.9rem;
    border-radius: .5rem;
    display: inline-flex;
    align-items: center;
    gap: 0.3rem;
    transition: all 0.2s;
}
 .btn-edit.disabled {
    opacity: 0.4;
    cursor: not-allowed;
}
 .sort-icon {
    color: #999;
    font-size: 12px;
    margin-left: 4px;
}
 .services-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 .status-header,
 .actions-header,
 .actions-body,
 .status-body {
    text-align: center;
}
.satisfaction-card{
    padding: 2rem;
    margin-top: 2rem;
    width: 100%;
}
.rating-bars {
  display: flex;
  gap: 5px;
  margin-top: 10px;
}
.rating-bar {
  flex: 1;
  height: 15px;
  border-radius: 5px;
  background: #FEE6E2;
  position: relative;
  overflow: hidden;
}
.rating-bar-fill {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background: #FF9581;
  width: 0%;
}
.averageTime-card{
    margin-top: 1rem;
    width: 100%;
}
.averageTime-card .card-header{
    border-bottom: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.averageTime-card .card-body{
    display: flex;
    align-items: center;
    gap: 1rem;
    
}
.averageTime-card .card-body p{
    margin-bottom: 0;
    color: var(--paragraph-color);
}
.averageTime-card .card-body h5{
    margin-bottom: 0;
    color: var(--text-color);
}
.statusColumn, .myRequestsTable th:last-child{
    text-align: center;
}
th.service.sort span {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
table.table{
    margin-top: 1rem;
}
.light-dark-mode {
    width: 90%;
    position: absolute;
    bottom: 1rem;
    /* border: 1px solid #D4D3D1; */
    display: none;
}
#mode-label{
    font-size: 1.05rem;
}
.toggle-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f8f5f2;
    padding: 0.5rem 1rem;
    border-radius: 0.8rem;
    border: 1px solid hsl(0deg 0% 0% / 10%);
    position: relative;
}
.sun-img {
    position: absolute;
    right: 1.6rem;
    bottom: 0.9rem;
    z-index: 999;
    height: 1.2rem;
    width: 1.2rem;
}
.form-check-input {
    width: 4rem !important;
    height: 2rem !important;
    cursor: pointer;
    border: none;
    background-color: #002134;
    position: relative;
    appearance: none;
    -webkit-appearance: none;
    border: 1px solid var(--text-color);
}
.form-check-input::before {
    content: "";
    position: absolute;
    top: 0.25rem;
    left: 0.3rem;
    width: 1.5rem;
    height: 1.5rem;
    background: white;
    border-radius: 50%;
    transition: transform 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.notification-item:last-child {
      border-bottom: none;
    }
    .notification-status.rejected {
      color: #E97A7B;
      font-weight: 600;
    }
    .notification-status.completed {
      color: #4A8951;
      font-weight: 600;
    }
     .notification-modal ,.user-modal{
        width: 24%;
        margin-left: 1rem;
    }
   .notification-modal.show ,.user-modal.show{
       animation:1s fadeDown forwards;
   }
    .notification-modal .modal-body,
    .user-modal .modal-body{
        background-color: #F2F1F1;
    }
    .notification-modal .modal-dialog,
    .user-modal .modal-dialog {
  margin-bottom: 1rem; 
}

.notification-modal .modal-content,
.user-modal .modal-content {
  border-radius: 1.5rem;
  overflow: hidden; 
}
.user-modal-header{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.user-modal-header .userNAME{
    font-weight: 600;
}
.user-modal-header p{
    margin-bottom: 0;
}
.user-modal-header .name-email{
    display: flex;
    flex-direction: column;
}
.user-modal .user-settings{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.user-modal .viewProfile,
.user-modal .account-settings,
.user-modal .sign-out{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.user-modal .viewProfile img,
.user-modal .account-settings img,
.user-modal .sign-out img{
    height: 1.5rem;
    width: 1.5rem;
}
.user-modal p{
    margin-bottom: 0;
}
 .progress-segment {
    height: 2rem;
    display: inline-block;
    transition: width 1.5s ease-in-out;
    margin-right: .2rem;
  }
  .form-check-input {
    cursor: pointer;
    background-color: rgb(0, 33, 52);
    position: relative;
    appearance: none;
    width: 4rem !important;
    height: 2rem !important;
    border: 1px solid var(--text-color);
}
.form-check-input:checked::before {
    transform: translateX(30px);
    background: rgb(0, 33, 52);
}

.form-check-input::before {
    content: "";
    position: absolute;
    top: 0.25rem;
    left: 0.3rem;
    width: 1.5rem;
    height: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px;
    background: white;
    border-radius: 50%;
    transition: transform 0.3s;
}
.form-check-input:checked {
    background-color: rgb(241, 241, 241);
}
html:not(.designer) body.theme-entry a.toolbar-button{
    display: flex!important;
    align-items: center!important;
    height: 3rem;
    opacity:.7;
    transition:all .3s ease-in-out;
    border:none!important;
    background-color:transparent!important;
}
html:not(.designer) body.theme-entry a.toolbar-button:hover{
    opacity:1;
}
html:not(.designer) .theme-entry a.toolbar-button span.button-c span.button-text{
    color:var(--Navy-blue)!important;
    font-family:var(--Alinma-plain);
}
/* status right panel */
.status-container {
    padding: 0;
    position: fixed;
    right: 3rem;
    top: 8rem;
    background-color: var(--Isabelline);
    height: 100%;
    width: 25rem;
}

.status-title {
    color: #002134!important;
    margin-bottom: 2.5rem!important;
    font-size: 2.5rem!important;
    font-family: var(--Alinma-bold)!important;
}

.status-item {
    position: relative;
    padding-left: 3.75rem;
    margin-bottom: 1.875rem;
}

.status-item::before {
 content: '';
    position: absolute;
    left: 1.5rem;
    top: 3.125rem;
    bottom: -1.875rem;
    width: 2px;
    background-color: #d0d0d0;

}

.status-item:nth-last-of-type(1)::before {
    content: none;
}
.status-icon {
    position: absolute;
    left: 0.2rem;
    top: 0.2rem;
    width: 2.8rem;
    height: 2.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.status-icon.completed  img{
  height: 2rem;
  width: 2rem;
}
.status-icon.in-progress img{
  height: 2rem;
  width: 2rem;
}
.status-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.3rem;
}
.status-name {
    font-size: 1.25rem!important;
    color: #1a3a52!important;
    margin: 0!important;
    font-family: var(--Alinma-bold);
}
.status-date {
    font-size: 1rem;
    color: #666;
    display: flex;
    align-items: center;
    gap: 0.625rem;
    font-family: var(--Alinma-plain);
}
.status-state {
    color: #666;
    font-size: 1rem;
    font-family: var(--Alinma-plain);
}
.status-message {
    background-color: #FDFAF8;
    border: 1px solid #e5e5e5;
    border-radius: 0.75rem;
    padding: 0.75rem;
    margin-top: 1rem!important;
    color: #666;
    font-size: 1rem;
    line-height: 1.6;
    transition: .3s all ease;
    overflow: hidden;
    font-family: var(--Alinma-plain);
}

@keyframes fadeDown {
    0% {
        opacity: 0;
        transform: translateY(-10px);
        height: 0;
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 0;
    }
    100% {
        opacity: 1;
        transform: translateY(0);
        height: auto;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        margin-top: 1rem;
    }
}

/* @keyframes fadeUp {
    0% {
        opacity: 1;
        transform: translateY(0);
        height: auto;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        margin-top: 1rem;
    }
    100% {
        opacity: 0;
        transform: translateY(-10px);
        height: 0;
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 0;
    }
} */

.status-message.show {
    animation: fadeDown 0.4s forwards;
}

.status-message.hide {
    animation: fadeUp 0.4s forwards;
}


.status-message.collapsed {
    display: none;
}

.view-attachments-btn {
    background-color: transparent;
    border: 1px solid #d0d0d0;
    border-radius: 0.75rem;
    padding: 1.25rem;
    width: 100%;
    color: #002134;
    font-size: 1.1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}
.collapse-icon {
    font-size: 0.9rem;
    cursor: pointer;
    transition: .3s all ease;
}

.collapse-icon.rotated {
    transform: rotate(180deg);
    
}
/**/

.innerpanel div[name="MarketingAttachments Area Item"]{

    padding: 2rem 0;

}
 
.innerpanel div[name="MarketingAttachments Area Item"] .grid-column-header-table td{

    background-color: #F8EFE8 !important;

    padding-top : .5rem !important;

    padding-bottom : .5rem  !important;

    border-right: unset;

}
 
.innerpanel div[name="MarketingAttachments Area Item"] .grid-column-headers, .innerpanel div[name="MarketingAttachments Area Item"] .grid-column-headers td{

    border-radius: 1rem;

}
 
.innerpanel div[name="MarketingAttachments Area Item"] .grid-body-content-wrapper tr:first-child td .grid-content-cell{

    margin-top: .5rem;

}
 
.innerpanel div[name="MarketingAttachments Area Item"] .grid-body-content-wrapper tr:not(:last-child) td{

    border-bottom: 1px solid rgba(0,0,0,.1);

}
 
 
.innerpanel div[name="MarketingAttachments Area Item"] .grid-body-content-wrapper tr, .innerpanel div[name="MarketingAttachments Area Item"] .grid-column-header-table .grid-column-header-text{

    background-color: unset !important;

}
 
.innerpanel div[name="MarketingAttachments Area Item"] .grid-footer{

    display: none !important;

}
 
.innerpanel div[name="MarketingAttachments Area Item"] .grid-body-content-wrapper tr.selected td, .innerpanel div[name="MarketingAttachments Area Item"] .grid-body-content-wrapper tr:hover td{

    background-color: unset !important;

}
 .innerpanel div[name="MarketingAttachments Area Item"] .grid-column-headers .grid-column-header-text{
    opacity: 1;
}

html:not(.designer) .commentsAttachments {
    width:calc(100% - 28rem)!important;
    background-color:white!important;
    padding:2rem;
    margin-top:2rem;
        border-radius: 1rem;
    overflow: hidden;
    border: 1.6px solid #e5e4de;
}
[name="NR_MarketingRequest_Form_Stage Area Item  view_move_left"]{
     width:calc(100% - 28rem)!important;
    margin-top:1rem;

}
.pageOf span{
    color: var(--Navy-blue);
    font-size: .9rem;
    font-family: var(--Alinma-plain);
    margin: 0 0.15rem;
}
.pageOf span.totalOf,
.showingItems p{
    color:#686868;
}
.totalPagesNumber,
.showingItems span:nth-child(2),
.showingItems span:last-child,
.showingItems .pageTo,
.showingItems .totalOf,
.showingItems .currentPage{
    font-family:var(--Alinma-bold)!important
}
/**/
@media(min-width:992px){
    [name="headerLogo"]{
   position: unset;
   margin-top: 0.5rem!important;
}
    html body .requestsTile .card .card-header{
    padding: 1.5rem 2rem 1rem;
}
    html body .requestsTile .card .card-body{
    padding: 0rem 2rem 1.7rem;
}
     thead th {
   
    background-color: var(--Table-header) !important;
    
}
    html:not(.designer) body {
    font-size: 16px;
    font-family: var(--Alinma-plain);
    background-color: var(--Isabelline);
    margin-left: 22rem;
    width: calc(100% - 22rem);
}
    .request-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* Two columns */
    gap: 0;
    border-radius: .8rem;
    overflow: hidden;
    border: 1px solid rgb(0 0 0 /10%);
}
    html:not(.designer) body aside.sidebar {
    transition: all .3s ease-in-out;
    transform: translateX(-100%);
    animation:1s fadeLeft forwards;
}
    html:not(.designer) body .kpiCards .card {
    width: 15rem;
}
}
@media(min-width:1200px){
     html:not(.designer) body .kpiCards .card {
    width: 21rem;
}
}
@media(min-width:1365px){
     html:not(.designer) body .kpiCards .card {
    width: 11rem;
}
}
@media(min-width:1400px){
     html:not(.designer) body .kpiCards .card {
    width: 12rem;
}
}