:root {
    --White: #FFFFFF;
    --Isabelline: #F9F2ED;
    --Alabaster: #F3E7E6;
    --Dark-beige: #E8DBD0;
    --Table-button: #F1DFDA;
    --Textbox-border-color: #EAD1C3;
    --Textbox-background-color: #F3E3DE;
    --Navy-blue: #002134;
    --Secondary-navy-blue: #001E2D;
    --Navy-blue-low-opacity: rgb(0 33 52 / 70%);
    --Light-black: rgb(0 0 0 / 70%);
    --Purple: #9795E0;
    --Orange: #FF9581;
    --Table-header: rgb(244 231 219 / 60%);
    --In-progress: rgb(186 159 100 / 25%);
    --Returned: rgb(245 145 116 / 20%);
    --Completed: rgb(208 252 216 / 70%);
    --Alinma-plain: "AlinmaTheSans-Plain";
    --Alinma-bold: "AlinmaTheSans-Bold";
}

@font-face {
    font-family: "AlinmaTheSans-Plain";
    src: url("../fonts/AlinmaTheSans-Plain.ttf");
    font-display: swap;
}

@font-face {
    font-family: "AlinmaTheSans-Bold";
    src: url("../fonts/AlinmaTheSans-Bold.ttf");
    font-display: swap;
}

html body {
    font-size: 16px;
    font-family: var(--Alinma-plain);
    background-color: var(--Isabelline);
    margin-left: 22rem;
    width: calc(100% - 22rem);
}

html body ul {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}
html body .overlayShadow{
    position:fixed;
    top:0;
    left:0;
    height:100vh;
    width:100vw;
    background-color:rgb(0 0 0 / 70%);
    z-index:1;
    display:none;
    transition: all 1s ease-in-out;
}
html body ul.links > li {
    display: flex;
    align-items: center;
    padding: .4rem 1rem;
}
html body ul.links li .icon{
    margin-right:1rem;
}
li.isSubMenu {
    position: relative;
}
li.isSubMenu::after{
    content:"";
    position:absolute;
    top:50%;
    right:1rem;
    transform:translateY(-50%);
    background-image:url("../images/net/chevron-right.png");
    height:.8rem;
    width:.8rem;
    background-repeat:no-repeat;
    background-size:contain;
    background-position:right center;
}
.container {
    max-width: 100% !important;
    margin: 0;
    padding-left: 2rem;
    padding-right: 2rem;
}
.subPanel {
    z-index:2;
    position: fixed;
    background-color: white;
    height: 100vh;
    width: 26rem;
    left: 22rem;
    top: 0;
    bottom: 0;
    transform: translateX(-200%);
    /* z-index: 99; */
    transition: all 1s ease-in-out;
    padding:3rem 2rem;
    border-top-right-radius: 1.5rem;
}
.subPanel.active{
    transform: translateX(0%);
}
.subPanel .subSectionTitle{
    margin-bottom:2rem;
}
.subPanel ul li{
    background-color:#f1dfda;
    margin-bottom:1rem;
    padding: 0.8rem 1rem;
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
}

.subPanel ul li .icon{
    margin-right:1rem;
}
html body header {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

html body header .dashboardIntro h3 {
    font-family: var(--Alinma-bold);
}

html body header a.logo {
    width: 11rem;
    display: block;
}

html body header a.logo img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

html body aside.sidebar {
    width: 22rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 2rem 1.5rem;
    border-right: 1.5px solid rgb(0 33 52 / 10%);
    z-index: 3;
    background-color: var(--Isabelline);
}
html body aside.sidebar .userSettings{
    justify-content:space-between;
}
html body .sidebar .notifications{
    border:none;
    background-color:transparent;
    min-width:unset;
}
html body .sidebar .userProfilePhoto{
    margin-right:1rem;
    border-radius:1rem;
    overflow:hidden;
}
html body .sideBarLinksGroup .categoryName{
    margin:2rem 1rem 1rem;
    color:rgb(0 33 52 / 70%)
}
html body .userSettings .userInformations .username{
    font-size:1.14rem;
    font-family:var(--Alinma-bold);
}
html body .userSettings .userInformations .userPosition{
    font-size:.9rem;
    color:rgb(0 33 52 / 70%)
}
html body .kpiCards {
    gap: 1rem;
}

html body .kpiCards .card {
    width: 13rem;
    height: 6.7rem;
    border: 1px solid #E5E4DE;
    border-radius: 1rem;
}

html body .kpiCards .card .card-body {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

html body .kpiCards .card .card-body .kpiIcon {
    position: absolute;
    top: 1rem;
    right: 1rem;
    height: 2rem;
    width: 2rem;
}

html body .kpiCards .card .card-body .kpiIcon img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

html body .kpiCards .card .card-body .kpiValue {
    font-size: 1.8rem;
    color: #092342;
    font-family: var(--Alinma-bold);
    margin-bottom: 0rem;
}

html body .kpiCards .card .card-body .kpiName {
    margin-bottom: 0;
    font-size: .9rem;
    color: var(--Secondary-navy-blue);
}

html body .requestsTile {
    padding-right: 1rem;
}

html body .requestsTile .card {
    height: 100%;
    border-radius: 1rem;
    border: 1px solid #E5E4DE;

}
html body .requestsTile .card .card-header{
    background-color:transparent;
    border: 0;
    padding: 0.9rem 2rem 0;
}
html body .requestsTile .card .card-body{
    padding: 0rem 2rem 1rem;
    border:none!important;
}
h2 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-top: 0;
    margin-bottom: 8px;
}

.requests-total {
    font-size: 1.9rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 0.7rem;
    font-family: var(--Alinma-bold);
    color: var(--Navy-blue);
}

/* --- Progress Bar Styling --- */
.progress-bar-container {
    display: flex;
    height: 0.8rem;
    /* Height of the bar */
    border-radius: 1rem;
    /* Rounded edges */
    overflow: hidden;
    /* Ensures the sections stay within the rounded container */
    margin-bottom: 1rem;
}

.request-progress-zone {
    height: 100%;
    /* Width will be set by JavaScript */
}

/* Define colors for each segment */
.marketing-request {
    background-color: #9993c9;
}

.request-a-study {
    background-color: #f09689;
}

.branch-visit-notes {
    background-color: #2a313b;
}

.other {
    background-color: #e5e3d7;
}

/* --- Legend Styling --- */
.request-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* Two columns */
    gap: 0;
    border-radius: 1rem;
    overflow: hidden;
    border: 1px solid rgb(0 0 0 /10%);
}

.request-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
    border: 1px solid rgb(0 0 0 / 10%);
    border-top: 0;
    padding: 0.7rem;
}

.request-name {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 1.5rem;
}

.request-name::before {
    content:"";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    border-radius: 100%;
    margin-right: .5rem;
    height: .8rem;
    width: .8rem;
}
.request-name.marketing-request-text::before{
    background-color: var(--Purple);
}
.request-name.branch-visit-notes-text::before{
    background-color: var(--Navy-blue);
}
.request-name.request-a-study-text::before{
    background-color: var(--Orange);
}
.request-name.other-text::before{
    background-color: #e8dbd0;
}
.percentage {
    font-weight: bold;
    color: #333;
}
.subPanel .closeSubpanel{
    background-color: var(--Navy-blue);
    height: 3rem;
    width: 3.5rem;
    transition: all .3s ease-in-out;
    padding: 1rem;
    position: absolute;
    top: 2rem;
    right: -3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
    cursor: pointer;
}
.subPanel .closeSubpanel svg{
    height:100%;
    width:100%;
    object-fit:cover;
}
.myRequestsTable{
    background-color: white;
    border-radius: 1rem;
    border: 1px solid #E5E4DE ;
    padding: 2rem;
    margin: 2rem 0;
}
 .tableHeader,html body .requestsTile .card .card-header h2 {
    color: #002035;
    font-family: var(--Alinma-bold);
    font-size: 1.3rem;
}
 .search-box {
    position: relative;
    max-width: 20rem !important;
    cursor: pointer;
}
 .search-box input {
    padding-left: 2.5rem;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
}
 .search-box svg {
    position: absolute;
    left: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    height: 1.2rem;
    width: 1.2rem;
    
}
.status{
    border-radius: .5rem;
    padding: .4rem 1rem;
}
.status.in-progress span{
    background-color: #EEE7D7;
    color: #AE9866;
}
 .badge-returned {
    background-color: #FCE8E1;
    color: #DE6D4D;
}
 .badge-draft {
    background-color: #dbeafe;
    color: #0D567F;
    background-image: repeating-linear-gradient(
        45deg,
        transparent,
        transparent 10px,
        rgba(255, 255, 255, 0.732) 10px,
        rgba(255, 255, 255, 0.692) 15px
    );
}
.status.completed span {
    background-color: var(--Completed);
    color: #2B7635;
}
 .editRow a {
    background-color: #F1DFDB;
    border: 1px solid #e5e5e5;
    color: var(--text-color);
    padding: 0.2rem 0.5rem;
    border-radius: 0.3rem;
    display: inline-flex;
    align-items: center;
    gap: 0.3rem;
    transition: all 0.2s;
}
 .editRow a.disabled {
    opacity: 0.4;
    cursor: not-allowed;
}
 .sort-icon {
    color: #999;
    font-size: 12px;
    margin-left: 4px;
}
.request-number{
    display: flex;
    align-items: center;
    gap:.5rem;
    position: relative;
    padding-left: 2rem;
}
th, td, thead, tbody{
border:none;
}
table td .request-number::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-image: url("../images/net/External_Link.svg");
    background-size: contain;
    height: 1rem;
    width: 1rem;
    background-repeat: no-repeat;
    background-position: center;
}
table td .editRow a{
    position: relative;
}
table td .editRow a::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-image: url("../images/net/edit.svg");
    background-size: contain;
    height: 1rem;
    width: 1rem;
    background-repeat: no-repeat;
    background-position: center;
}

table thead{
    /* border-radius: 1rem; */
    /* background-color: #f4e7db; */
}




 .table thead th:first-child,
 .table tbody td:first-child {
    position: sticky;
    left: 0;
    z-index: 10;
    background-color: #fff;
}
 .table thead th:first-child {
    z-index: 11;
    background-color: #F8EFE8; 
}

 thead tr {
     background-color: var(--Table-header);
     padding:.4rem 0!important;
       }
 thead th {
    border: none;
    padding: 0.8rem 0rem !important;
   
    background-color: var(--Table-header)!important;
    color: #002134!important;
}
 thead th span{
      border-right: 1px solid rgb(0 0 0 / 10%);
      padding:0 1rem;
      width: 100%;
      display: block;
 }
 thead th:first-child {border-radius: 0.8rem 0 0 0.8rem;}
 thead th:last-child {
    border-radius: 0 0.8rem 0.8rem 0;
    border-right: none;
}
 tbody td {
    padding: 1rem !important;
    vertical-align: middle;
    color: var(--text-color);
}
 tbody tr:last-child {border-color: transparent !important;}
 .request-number {
    color: var(--text-color);
    text-decoration: none;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    gap: 0.3rem;
    margin-left: 0.5rem;
}
 .request-number:hover {
    text-decoration: underline;
}
.status span{
    padding: 0.3rem 1rem!important;
    border-radius: 0.5rem;
    font-weight: 500;
    width: 6rem;
    border: 1px solid var(--border-color);
    width: 100%;
    display: block;
    text-align: center;
}
 .status.in-progress span{
    background-color: #EEE7D7;
    color: #AE9866;
}
 .status.returned span {
    background-color: #FCE8E1;
    color: #DE6D4D;
}
 .status.draft span {
    background-color: #dbeafe;
    color: #0D567F;
    background-image: repeating-linear-gradient(
        45deg,
        transparent,
        transparent 10px,
        rgba(255, 255, 255, 0.732) 10px,
        rgba(255, 255, 255, 0.692) 15px
    );
}
 .badge-completed {
    background-color: #DEFCE2;
    color: #2B7635;
}
 .btn-edit {
    background-color: #F1DFDB;
    border: 1px solid #e5e5e5;
    color: var(--Navy-blue);
    padding: 0.3rem 0.9rem;
    border-radius: .5rem;
    display: inline-flex;
    align-items: center;
    gap: 0.3rem;
    transition: all 0.2s;
}
 .btn-edit.disabled {
    opacity: 0.4;
    cursor: not-allowed;
}
 .sort-icon {
    color: #999;
    font-size: 12px;
    margin-left: 4px;
}
 .services-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 .status-header,
 .actions-header,
 .actions-body,
 .status-body {
    text-align: center;
}
.satisfaction-card{
    padding: 2rem;
    margin-top: 2rem;
    width: 100%;
}
.rating-bars {
  display: flex;
  gap: 5px;
  margin-top: 10px;
}
.rating-bar {
  flex: 1;
  height: 15px;
  border-radius: 5px;
  background: #FEE6E2;
  position: relative;
  overflow: hidden;
}
.rating-bar-fill {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background: #FF9581;
  width: 0%;
}
.averageTime-card{
    margin-top: 1rem;
    width: 100%;
}
.averageTime-card .card-header{
    border-bottom: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.averageTime-card .card-body{
    display: flex;
    align-items: center;
    gap: 1rem;
    
}
.averageTime-card .card-body p{
    margin-bottom: 0;
    color: var(--paragraph-color);
}
.averageTime-card .card-body h5{
    margin-bottom: 0;
    color: var(--text-color);
}
.statusColumn{
    text-align: center;
}
th.service.sort span {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
table.table{
    margin-top: 1rem;
}
.light-dark-mode {
    width: 90%;
    position: absolute;
    bottom: 1rem;
}
.toggle-label {
    display: flex
;
    align-items: center;
    justify-content: space-between;
    background: #f8f5f2;
    padding: 0.5rem 1rem;
    border-radius: 0.8rem;
    border: 1px solid var(--border-color);
    position: relative;
}
.sun-img {
    position: absolute;
    right: 1.6rem;
    bottom: 0.9rem;
    z-index: 999;
    height: 1.2rem;
    width: 1.2rem;
}
.form-check-input {
    width: 4rem !important;
    height: 2rem !important;
    cursor: pointer;
    border: none;
    background-color: #002134;
    position: relative;
    appearance: none;
    -webkit-appearance: none;
    border: 1px solid var(--text-color);
}
.form-check-input::before {
    content: "";
    position: absolute;
    top: 0.25rem;
    left: 0.3rem;
    width: 1.5rem;
    height: 1.5rem;
    background: white;
    border-radius: 50%;
    transition: transform 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}