html:not(.designer) .form {
   margin: 0!important;
   position: relative;
   padding: 0 0 1rem!important;
   border-radius: 0!important;
   overflow: hidden;
   border: none!important;
   background-color:transparent!important;
   width: 100%;
}
html:not(.designer) .form .view .innerpanel > .panel{
   background-color:transparent!important;
}
.RequestsDashboardControl-RequestsDashboardControl{
   width:100%;
}
[name*="customControl"] [name*="Cell Cell3"] {
    padding: 0!important;
}
.AnalyticsDashboardControl-AnalyticsDashboardControl{
   width:100%!important;
}
/* MARKETING DASHBOARD START */
.AnalyticsDashboardControl-AnalyticsDashboardControl .marketingDashboard{
    gap:1.5rem;
    align-items: flex-start;
    flex-wrap: wrap;
}
.AnalyticsDashboardControl-AnalyticsDashboardControl .marketingDashboard .col-lg-4{
    width: 100%;
}
.AnalyticsDashboardControl-AnalyticsDashboardControl #myCircularChart {
    width: 14rem !important;
    height: 17rem !important;
}
.chartLabel{
    position:absolute;
    
   
}
.segment-label1{
     transform: translate(26%, -97%);
     border-bottom-left-radius:0;
}
.segment-label3{
     transform: translate(-100%, -110%);
     border-bottom-left-radius:0;
}
.AnalyticsDashboardControl-AnalyticsDashboardControl .circleChart {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%!important;
    z-index: 1;
}
.no-content  .circleChart{
    display:none;
}
.no-content .card-body{
    background-image: url("/Runtime/Styles/Style%20Profile/images/circle.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.dark .no-content .card-body{
    background-image: url("/Runtime/Styles/Style%20Profile/images/dark.svg");
}
.AnalyticsDashboardControl-AnalyticsDashboardControl .chart-center-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -31%);
    text-align: center;
    pointer-events: none;
}
.AnalyticsDashboardControl-AnalyticsDashboardControl .chart-center-text .number {
    display: block;
    font-family: 'AlinmaTheSans-Bold';
    font-size: 1.9rem;
    padding: 0;
}


html:not(.designer) body.theme-entry.dark .AnalyticsDashboardControl-AnalyticsDashboardControl .chart-center-text .number,
html:not(.designer) body.theme-entry.dark .AnalyticsDashboardControl-AnalyticsDashboardControl .chart-center-text .label{
    color: white;
}



.AnalyticsDashboardControl-AnalyticsDashboardControl .number {
    font-size: 1.8rem;
    font-weight: bold;
    padding-left: 0.3rem;
    font-family: 'AlinmaTheSans-Bold';
}
.AnalyticsDashboardControl-AnalyticsDashboardControl .chart-center-text .label {
    display: block;
    font-family: var(--Alinma-plain);
    font-size: 0.8rem;
    padding: 0;
}
.dark .AnalyticsDashboardControl-AnalyticsDashboardControl .number,
.dark .AnalyticsDashboardControl-AnalyticsDashboardControl .chart-center-text .label {
    color:white;
}
.AnalyticsDashboardControl-AnalyticsDashboardControl .label-box1,
.AnalyticsDashboardControl-AnalyticsDashboardControl .label-box2,
.AnalyticsDashboardControl-AnalyticsDashboardControl .label-box3{
    background-color: #ffffff;
    min-width: fit-content;
    border-radius: .5rem;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    font-family: 'AlinmaTheSans-Bold';
    font-size: 1rem;
    padding: .3rem 1rem;
}
.AnalyticsDashboardControl-AnalyticsDashboardControl .label-box2{
    border-top-left-radius: 0!important;
    transform: translate(0, -9%);
}
.AnalyticsDashboardControl-AnalyticsDashboardControl .label-box3{
    border-bottom-right-radius: 0!important;
}
.AnalyticsDashboardControl-AnalyticsDashboardControl .label-box1{
    border-bottom-left-radius: 0!important;
}
.AnalyticsDashboardControl-AnalyticsDashboardControl .value {
    display: flex;
    font-size: 1rem;
    text-align: left;
    gap: .3rem;
    align-items: center;
}
.AnalyticsDashboardControl-AnalyticsDashboardControl .value .light{
    font-size: 1rem;
    color: rgba(0, 0, 0, .6);
}
.AnalyticsDashboardControl-AnalyticsDashboardControl .label-text {
    display: block;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.495) !important;
    font-family: 'AlinmaTheSans-Bold';
    text-align: left;
}
.AnalyticsDashboardControl-AnalyticsDashboardControl #popularRequestsChartBox {
    height:16.5rem;
}

.AnalyticsDashboardControl-AnalyticsDashboardControl .chart {
    position: relative;
    height: 25rem;
    margin:0;
    z-index: 0;
}
.AnalyticsDashboardControl-AnalyticsDashboardControl #popularRequestsChartBox canvas{
    height:100%!important;
}
div#AnalyticsDashboardControl th {
    white-space: nowrap;
}
.rating-canvas{
   width:100%!important;
}
span.small-number {
    font-size: .9rem;
    font-family: var(--Alinma-plain);
    color:rgb(0 33 52 / 70%);
}
.AnalyticsDashboardControl-AnalyticsDashboardControl .marketingDashboard .col-lg-4:last-child{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    gap: 1rem;
}
.userSatisfaction .card-body {
    transform: translateY(1.5rem);
}
.averageTime .dropdown-menu.show{
  max-height: 12rem;
  overflow-y: auto;
  top: 3rem;
  right: 0;
}


html:not(.designer) body.theme-entry.dark .averageTime .dropdown-menu.show{
  background-color: #002134;
}

html:not(.designer) body.theme-entry.dark .averageTime .dropdown-menu.show li a{
  color: white;
}


.card.popularRequests .card-body{
    padding-left: 0;
    padding-right: 0;
}
.card .card-body > .star{
    gap: .3rem;
}
 
.card .card-body > .star svg{
    width: 1.2rem;
    height: auto;
    }
    .chart-tooltip {
    padding: 0!important;
    border-radius: .8rem;
    border-bottom-left-radius: 0!important;
    transform: translate(0% , -5%)!important;
        background-color:white!important;
}

.tooltip-header {
    padding: .4rem 3rem .4rem .8rem;
    color: var(--Navy-blue);
    font-family:var(--Alinma-bold);
    font-size: .95rem;
}

.tooltip-count {
    padding: .2rem 3rem .1rem .8rem;
    border-bottom: 1px solid lightgray;
    font-family: var(--Alinma-bold);
    color: black;
    font-size: 1.5rem;
}
.tooltip-count span{
    font-size: .9rem;
    font-family: var(--Alinma-plain);
    color: #666666;
}
.NoDataSection  #popularRequestsChartBox{
    display:none!important;
}
/* MARKETING DASHBOARD END */
.totalRequests.noData canvas{
    display: none;
}
.totalRequests.noData .card-body{
    background-image: url("/Runtime/Styles/Style%20Profile/images/completedrequestslight.png");
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center;
}
.dark .totalRequests.noData .card-body{
    background-image: url("/Runtime/Styles/Style%20Profile/images/completedrequestsdark.png");
}
@media (max-width: 768px) {
    html:not(.designer) .form, .mobile .theme-entry .runtime-form>.form {
        padding: 0 1rem!important;
    }
}
@media(min-width:992px){
    .AnalyticsDashboardControl-AnalyticsDashboardControl .marketingDashboard .col-lg-4{
    width: 31.3%;
}
.AnalyticsDashboardControl-AnalyticsDashboardControl #popularRequestsChartBox{
    height:17.5rem;
}
}
@media(min-width:1024px){
    .AnalyticsDashboardControl-AnalyticsDashboardControl .marketingDashboard .col-lg-4{
    width: 100%;
}

}
@media(min-width:1200px){
       .AnalyticsDashboardControl-AnalyticsDashboardControl .marketingDashboard .col-lg-4{
    width: 32%;
}
.AnalyticsDashboardControl-AnalyticsDashboardControl #popularRequestsChartBox{
    height:16.5rem;
}
}
@media(min-width:1600px){
    html:not(.designer) .form {
        padding: 0 0 0vw!important;
    }
    .tooltip-header {
    padding: .5vw;
    font-size: .85vw;
}

.tooltip-count {
    padding: .5vw;
    font-size: 1vw;
}
.tooltip-count span{
    font-size: .85vw;
}
    .averageTime .dropdown-menu.show{
    max-height: 8vw;
    }
        .AnalyticsDashboardControl-AnalyticsDashboardControl .marketingDashboard .col-lg-4{
    width: 32.5%;
}
.userSatisfaction .card-body{
        transform: translateY(1.5rem);
    }
 
.card .card-body > .star{
    gap: .3vw;
    margin-bottom: .2vw;
}
 
    .card .card-body > .star svg{
    width: 1.4vw;
    height: auto;
    }
    span.small-number {
    font-size: .9vw;
}
 
 
        span.big-number {
            font-size:1.6vw;
        }
    .AnalyticsDashboardControl-AnalyticsDashboardControl .chart-center-text {
    margin-top: 0;
}
    .AnalyticsDashboardControl-AnalyticsDashboardControl .label-box1,
     .AnalyticsDashboardControl-AnalyticsDashboardControl .label-box2,
     .AnalyticsDashboardControl-AnalyticsDashboardControl .label-box3{
    min-width: 6vw;
    border-radius: .5vw;
    font-size: .95vw;
}
    .AnalyticsDashboardControl-AnalyticsDashboardControl .label-text{
        font-size:.7vw;
    }
    .AnalyticsDashboardControl-AnalyticsDashboardControl .value {
    font-size: .8vw;
}
    .rating-canvas{
   width:100%!important;
   height: 0.6vw!important;
}
    .AnalyticsDashboardControl-AnalyticsDashboardControl #myCircularChart {
    width: 12vw !important;
    height: 15vw !important;
}
   .marketingoverview, .popularRequests {
    border-radius: 1.2vw;
    height: 19vw;
    padding: 1.2vw !important;
}
   #myCircularChart{
    width: 17vw !important;
    height: 17vw !important;
}
   .segment-label1 {
      pointer-events: none;
   }
   .segment-label2 {
      position: absolute;
      pointer-events: none;
   }
   .segment-label3 {
      position: absolute;
      pointer-events: none;

   }
   .chart-center-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      pointer-events: none;
      margin-top: 1.2rem;
   }
   .AnalyticsDashboardControl-AnalyticsDashboardControl .chart-center-text .number {
      display: block;
      font-family: 'AlinmaTheSans-Bold';
      font-size: 1.9vw;
   }
   .number {
      font-size: 1.8rem;
      font-weight: bold;
      padding-left: 0.3rem;
      font-family: 'AlinmaTheSans-Bold';
   }
   .AnalyticsDashboardControl-AnalyticsDashboardControl .chart-center-text .label {
      font-size: .8vw;
      margin-top: -.1vw;
   }
   .label-box1 {
      background-color: #ffffff;
      min-width: 80px;
      border-radius: 5px 5px 5px 0;
      text-align: center;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
      font-family: 'AlinmaTheSans-Bold';
      font-size: 12px;
      padding: -1px 22px 2px 10px;
   }
   .label-box2 {
      background-color: #ffffff;
      min-width: 80px;
      border-radius: 5px 5px 5px 0;
      text-align: center;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
      font-family: 'AlinmaTheSans-Bold';
      font-size: 12px;
      padding: 2px 22px 2px 10px;
   }
   .label-box3 {
      background-color: #ffffff;
      min-width: 80px;
      border-radius: 5px 5px 0 5px;
      text-align: center;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
      font-family: 'AlinmaTheSans-Bold';
      font-size: 12px;
      padding: 2px 22px 2px 10px;
   }
   .value {
      display: block;
   }
   .label-text {
      display: block;
      font-size: .85vw;
      color: rgba(0, 0, 0, 0.495);
      font-family: 'AlinmaTheSans-Bold';
      transform: translateY(-.8rem);
   }
   .AnalyticsDashboardControl-AnalyticsDashboardControl #popularRequestsChartBox {
      height: 14vw;
      width: 100%;
   }
   .chart {
      position: relative;
      width: 330px;
      height: 200px;
      margin: 2rem auto 0;
      z-index: 0;
   }
}