html:not(.designer) .theme-entry span[name*="s_textbox"]:has(input[readonly]) [name*="s_label"],
html:not(.designer) .form [name*="s_textarea"]:has(textarea[readonly]) [name*="s_label"]{
     font-size: var(--fs-caption)!important;
     color: var(--Read_Only_Label_Color);
}
html:not(.designer) body.theme-entry [name*="s_textarea"] [name*="s_label"]{
    position: absolute;
    top: 15%;
    transform: translateY(-50%);
    color:var(--Navy-blue-low-opacity);
    font-size: var(--fs-body)!important;
}
html:not(.designer) body.theme-entry [name*="s_dropdown"] [name*="s_label"], 
html:not(.designer) body.theme-entry [name*="s_picker"] [name*="s_label"], 
html:not(.designer) body.theme-entry [name*="s_calendar"] [name*="s_label"], 
html:not(.designer) body.theme-entry [name*="s_textbox"] [name*="s_label"], 
html:not(.designer) body.theme-entry [name*="s_textarea"] [name*="s_label"]{
    top: var(--field_label_top)!important;
    transform: none;
    font-size: var(--fs-caption)!important;
}
html:not(.designer) .theme-entry [name*="s_textbox"] input{
    margin-top: 0.6rem!important;
}
html body.theme-entry .form .row:first-child{
    display:none;
}
[name*="s_dropdown"] .picker{
    top: 0rem;
}
.theme-entry .input-control.checkbox.style-aware.checked .svg-checkbox-checked {
    fill: var(--Navy-blue-low-opacity) !important;

}
.light .theme-entry .input-control.checkbox.style-aware.checked .svg-checkbox-checked {
    fill: var(--checkbox-readonly-checked-color)!important;
}
html:not(.designer) body.theme-entry span[name*="s_dropdown"]:has(.select-box.read-only) [name*="s_label"]{
    top: 0.3rem;
    transform:none;
}
/*  TEXTBOX READONLY START */

html:not(.designer) body.theme-entry .form span[name*="s_textbox"],
html:not(.designer) body.theme-entry .form [name*="s_textbox"].editor-cell.lastcellinrow,
html:not(.designer) body.theme-entry .form  [name*="s_textarea"],
html:not(.designer) body.theme-entry .form [name*="s_dropdown"],
html:not(.designer) body.theme-entry .form [name*="s_dropdown"].editor-cell.lastcellinrow,
html:not(.designer) body.theme-entry .form.editingForm [name*="s_calendar"].editor-cell.lastcellinrow,
html:not(.designer) body.theme-entry .form [name*="s_calendar"],
html:not(.designer) body.theme-entry .form [name*="s_dropdown"],
html:not(.designer) body.theme-entry span[name*="s_dropdown"],
html:not(.designer) body.theme-entry .form .editor-cell.lastcellinrow[name*="s_dropdown"],
html:not(.designer) [name*="s_textarea"], html:not(.designer) body.theme-entry .editor-cell.lastrow[name*="s_textarea"]{
      background-color: var(--Read_Only_Fields_Background)!important;
      border: var(--Read_Only_Fields_Border)!important;
}
html:not(.designer).light .theme-entry .form.editingForm .input-control a.input-control span, 
html:not(.designer).light .theme-entry .form.editingForm .input-control.watermark a.input-control span, 
html:not(.designer).light .theme-entry .editingForm [name*="s_dropdown"] a.styling-font span, 
html:not(.designer).light .theme-entry .editingForm [name*="s_calendar"] .input-control-m-c .input-control-wrapper input, 
html:not(.designer).light .theme-entry .editingForm [name*="s_textbox"] input{
    color: rgb(57 94 117 / 85%) !important;
}
/*  TEXTBOX READONLY END */
html:not(.designer).light .input-control.radio.style-aware svg .svg-radio-btn-circle{
    stroke: rgba(57, 94, 117, 0.6);
}
[name*="s_picker"] .picker {
    top: 0;
    height: calc(100% - 0.6rem);
    align-content: center;
    left: 0;
}
@media(min-width:992px){
    html:not(.designer) .form {
    width: calc(100% - 28rem);
    margin: 0!important;
    background-color: white;
        padding-bottom:1rem;
}

    html body.theme-entry .form .row{
     background-color:transparent!important;
    border-radius:0rem;
}
}
@media(min-width:1600px){
    html:not(.designer) .form {
    width: calc(100% - 28vw);
    padding: 0vw 2vw 1vw!important;
}
html:not(.designer) body.theme-entry span[name*="s_dropdown"]:has(.select-box.read-only) [name*="s_label"] {
    top: 0.3vw;

}

    html:not(.designer) .theme-entry [name*="s_textbox"] input {
    margin-top: 0.3vw!important;
}
}
/* final backup 12 Jan 2026*/