@keyframes fadeLeft-rtl {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeRight-rtl {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

html:not(.designer)[dir="rtl"] .subPanel ul li .icon img {
    scale: -1 1;
}

html:not(.designer)[dir="rtl"] [name*="Review Details Button"]::before {
    right: .8rem;
    left: auto;
}

html:not(.designer)[dir="rtl"] .theme-entry a.SourceCode-Forms-Controls-Web-Button[name*="Review Details Button"] {
    padding: 0.6rem 2.4rem !important;
    padding-left: 1rem ! Important;
}

html:not(.designer)[dir="rtl"] body .requestsTile {
    padding-right: 0;
    padding-left: 1rem;
}

html:not(.designer)[dir="rtl"] [name*="s_sub_sidebar"] {
    border-left: 1px solid rgb(255 255 255 / 10%);
    border-right: none;
}



html:not(.designer)[dir="rtl"] body ul.links li .icon {
    margin-left: 1rem;
    margin-right: 0!important;
}

html:not(.designer)[dir="rtl"] body .sidebar .userProfilePhoto {
    margin-left: 1rem;
    margin-right: 0;
}

html:not(.designer)[dir="rtl"] [name*="s_step"]::after {
    right: 1.5rem;
    left: auto;
}

html:not(.designer)[dir="rtl"] body .userProfilePhoto {

    margin-left: 1rem;

    margin-right: 0;
}

html:not(.designer)[dir="rtl"] #userProfileModal {
    right: 1rem;
    left: auto;
}

html:not(.designer)[dir="rtl"] thead th:first-child {
    border-radius: 0rem 0.8rem 0.8rem 0rem;
}

html:not(.designer)[dir="rtl"] thead th:last-child {
    border-radius: 0.8rem 0rem 0rem 0.8rem;
    border-right: none;
}

html:not(.designer)[dir="rtl"] .theme-entry .message-box-content:before {
    right: 0;
    left: auto;
}

html:not(.designer)[dir="rtl"] .theme-entry .message-box-content {
    padding-right: 3rem;
}

html:not(.designer)[dir="rtl"] li.isSubMenu::after {
    left: 0.5rem;
    right: auto;
    scale: -1 1;
}

html:not(.designer)[dir="rtl"].light body.theme-entry [name*="s_sub_sidebar"] {
    border-left: 1px solid rgb(0 0 0 / 10%);
    border-right: none;
}
html[dir=rtl] .theme-entry .message-box-content > .panel.full{
    margin:0!important;
    padding-right:1rem;
}
html:not(.designer)[dir="rtl"] .completedStep::before,
html:not(.designer)[dir="rtl"] .inProgressStep::before,
html:not(.designer)[dir="rtl"] .pendingStep::before {
    right: 0;
    left: unset;
}

html:not(.designer)[dir="rtl"] .inProgressStep::before,
html:not(.designer)[dir="rtl"] .pendingStep::before {
    scale: -1 1;
}

html:not(.designer)[dir="rtl"] .subPanel {
    right: 19.5rem;
    transform: translateX(200%);
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 0;
}

html:not(.designer)[dir="rtl"] .subPanel .closeSubpanel {
    left: -3.5rem;
    right: auto;
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

html:not(.designer)[dir="rtl"] .subPanel ul li .icon {
    margin-left: 1rem;
    margin-right: 0;
}

html:not(.designer)[dir="rtl"] .status-name {
    text-align: right;
}

html:not(.designer)[dir="rtl"] .theme-entry a.toolbar-button span,
html:not(.designer)[dir="rtl"] .theme-entry a.toolbar-button.toolbar-button-inline span {
    margin-right: 0.4rem;
}

html:not(.designer)[dir="rtl"] .status-item {
    padding-right: 3.05rem;
    padding-left: 0;
}

html:not(.designer)[dir="rtl"] .status-icon {
    right: 0;
    left: auto;
}

html:not(.designer)[dir="rtl"] .status-item::before {
    right: 1.3rem;
    left: auto;
}

html:not(.designer)[dir="rtl"] .status-icon:not(.completed) {
    scale: -1 1;
}

html:not(.designer)[dir="rtl"] .toolbar-button::before {
    right: 0.3rem;
    left: auto;
}

html:not(.designer)[dir="rtl"] .file-delete {
    margin-left: 1rem;
    margin-right: 0;
}

html:not(.designer)[dir="rtl"] [name*="ml-1"] {
    margin-right: 1rem !important;
    margin-left: 0rem !important;
}

html:not(.designer)[dir="rtl"] [name*="mr-1"] {
    margin-left: 1rem !important;
    margin-right: 0 !important;
}

html:not(.designer)[dir="rtl"] .overviewCard .card-body .sentences::before {
    right: 0;
    left: auto;
}

html:not(.designer)[dir="rtl"] .overviewCard .card-body .sentences {
    padding-right: 1rem;
    padding-left: 0;
}

html:not(.designer)[dir="rtl"] table td .request-number::before {
    left: auto;
    right: 0;
}
html:not(.designer)[dir="rtl"] #userProfileModal .modal-body a, 
html:not(.designer)[dir="rtl"] #userProfileModal .modal-body .langSwitchContainer .leftSection {
    margin-right:.8rem;
    margin-right:0;
}
html:not(.designer)[dir="rtl"] .request-number {
    padding-right: 1.6rem;
    padding-left: 0;
}

html:not(.designer)[dir="rtl"].light thead th:not(:last-child) span {
    border-left: 1px solid rgb(0 0 0 / 10%);
    border-right: none;
}

html:not(.designer)[dir="rtl"] .table thead th:last-child::before,
html:not(.designer)[dir="rtl"] .table tbody td:last-child::before {
    left: auto;
    right: -1rem;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.12) 10%, transparent);
}

html:not(.designer)[dir="rtl"] button.previousPage,
html:not(.designer)[dir="rtl"] button.firstPage,
html:not(.designer)[dir="rtl"] button.nextPage,
html:not(.designer)[dir="rtl"] button.lastPage {
    scale: -1 1;
}

html:not(.designer)[dir="rtl"] thead th:not(:last-child) span {
    border-left: 1px solid rgb(255 255 255 / 10%);
    border-right: none;
}

html:not(.designer)[dir="rtl"] .request-name::before {
    right: 0;
    left: auto;
}

html:not(.designer)[dir="rtl"] .request-name {
    padding-right: 1.5rem;
    padding-left: 0;
}

html:not(.designer)[dir="rtl"] div#requests-label {
    margin-right: .4rem;
    margin-left: 0;
}

html:not(.designer)[dir="rtl"].light body .card.popularRequests.NoDataSection .card-body {
    background-image: url(/Runtime/Styles/Style%20Profile/images/popularlight.png);
}

html:not(.designer)[dir="rtl"] body .card.popularRequests.NoDataSection .card-body {
    background-image: url(/Runtime/Styles/Style%20Profile/images/popularDark.png);
}
html:not(.designer)[dir="rtl"] body.theme-entry .card .left-logo-reports {
    margin-left: 1rem;
    margin-right:0;
}
html:not(.designer)[dir="rtl"] span.box-number-reports {
    margin-left: .3rem;
    margin-right:0;
}
html:not(.designer)[dir="rtl"] body.theme-entry a.toolbar-button{
        padding-left:0!important;
    }
html:not(.designer)[dir="rtl"] .dropdown-item{
    text-align: right!important;
}
html:not(.designer)[dir="rtl"] .averageTime .dropdown-menu.show{
    left:0;
    right:auto;
}
html:not(.designer)[dir="rtl"] .dropdown-custom .spinner-border{
    right:37%;
    left:auto;
}
html:not(.designer)[dir="rtl"] .theme-entry span.runtime-list-item{
    text-align: right !important;
}
html:not(.designer)[dir="rtl"] .grid-column-header-table td .grid-column-header-text{
    text-align:right!important;
}
html:not(.designer)[dir="rtl"] svg.openSidebar {
    right: 1rem;
    left:auto;
}
@media (min-width: 992px) {
    html:not(.designer)[dir="rtl"] body.theme-entry aside.sidebar {
    right: 0;
    left: auto;
    transform: translateX(100%);
    border-left: var(--Sidebar_border);
    border-right: none;
    animation: 1s fadeLeft-rtl forwards;
}
    html:not(.designer)[dir="rtl"] .request-card:nth-child(2n+1) {
        border-left: 1px solid rgb(255 255 255 / 12%);
        border-right: none;
    }

    html:not(.designer)[dir="rtl"] [name*="s_button s_save_button"]::before {
        right: 0rem;
        left: auto;
    }

    html:not(.designer)[dir="rtl"] [name*="s_button s_save_button"] {

        padding: 0.6rem 2rem .6rem 0rem !important;

    }

    html:not(.designer).light .request-card:nth-child(2n+1) {
        border-left: 1px solid rgb(0 0 0 / 10%);
        border-right: none;
    }

    .light .request-card:nth-child(2n+1) {
        border-right: 1px solid rgb(0 0 0 / 10%);
    }

    html:not(.designer)[dir="rtl"] body .status-container {
        left: 3rem;
        right: auto;
        height: 100%;
        animation: 1s fadeLeft forwards;
        padding: 0;
    }

    html:not(.designer)[dir="rtl"] body {
        padding-right: 19.5rem;
        padding-left: 0 !important
    }

    html:not(.designer)[dir="rtl"] [name*="view_move_right"] {
        margin-right: 22rem !important;
        margin-left: 0 !important;
    }

    html:not(.designer)[dir="rtl"] [name*="s_sub_sidebar"] {
        right: 2rem;
        left: auto;
    }

    html:not(.designer)[dir="rtl"] [name*="s_step"] {
        padding-right: 4rem;
        padding-left: 0;
    }

    html:not(.designer)[dir="rtl"] .theme-entry header,
    html:not(.designer)[dir="rtl"] header {
        right: 19.5rem;
        left: auto;
    }
}

@media (min-width: 1600px) {
    html:not(.designer)[dir="rtl"] .theme-entry a.SourceCode-Forms-Controls-Web-Button[name*="Review Details"] {
    padding: 0.6vw 2.4vw!important;
    padding-left: 1vw !important;
}
        html:not(.designer)[dir="rtl"] [name*="s_button s_save_button"] {
        padding: 0.6vw 2vw .6vw 0vw !important;
    }
    html:not(.designer)[dir="rtl"] .status-icon {
    right: 0vw;
    left: auto;
}
    html:not(.designer)[dir="rtl"] .status-item::before {
    right: 1.5vw;
    left: auto;
}
    html:not(.designer)[dir="rtl"] .status-item {
    padding-right: 2.75vw;
    padding-left: 0;
}
    html:not(.designer)[dir="rtl"] body.theme-entry a.toolbar-button{
        padding-left:0!important;
    }
    html:not(.designer)[dir="rtl"] #userProfileModal .modal-body a, 
html:not(.designer)[dir="rtl"] #userProfileModal .modal-body .langSwitchContainer .leftSection {
    margin-right:.8vw;
    margin-right:0;
}
    html:not(.designer)[dir="rtl"] div#requests-label {
        margin-right: .4vw;
        margin-left: 0;
    }

    html:not(.designer)[dir="rtl"] .request-name {
        padding-right: 1.5vw;
        padding-left: 0;
    }

    html:not(.designer)[dir="rtl"] body .kpiCards .card .card-body .kpiIcon,
    html:not(.designer)[dir="rtl"] body .marketingKPIs .card .card-body .kpiIcon {
        left: 1vw;
        right: auto;
    }

    html:not(.designer)[dir="rtl"] .request-number {
        padding-right: 1.6vw;
        padding-left: 0;
    }

    html:not(.designer)[dir="rtl"] .overviewCard .card-body .sentences {
        padding-right: 1vw;
        padding-left: 0;
    }

    html:not(.designer)[dir="rtl"] .subPanel .closeSubpanel {
        left: -3.5vw;
    }

    html:not(.designer)[dir="rtl"] .subPanel {
        right: 15.9vw;
    }

    html:not(.designer)[dir="rtl"] .theme-entry header,
    html:not(.designer)[dir="rtl"] header {
        right: 16vw;
        left: auto;
    }

    html:not(.designer)[dir="rtl"] body {
        padding-right: 16vw;
    }

    html:not(.designer)[dir="rtl"] .sideBarLinksGroup .icon {
        margin-right: 0;
        margin-left: 0.8vw !important;
    }

    html:not(.designer)[dir="rtl"] body .sidebar .userProfilePhoto {
        margin-left: 1vw;
        margin-right: 0;
    }

    html:not(.designer)[dir="rtl"] [name*="view_move_right"] {
        margin-right: 19vw !important;
        margin-left: 0 !important;
    }

    html:not(.designer)[dir="rtl"] [name*="s_sub_sidebar"] {
        right: 2vw;
        left: auto;
    }

    html:not(.designer)[dir="rtl"] .inProgressStep::before,
    html:not(.designer)[dir="rtl"] .pendingStep::before {

        right: 0.3vw !important;
        left: auto !important;
    }

    html:not(.designer)[dir="rtl"] [name*="s_step"] {
        padding-right: 4vw;
        padding-left: 0;
    }

    html:not(.designer)[dir="rtl"] [name*="s_step"]::after {
        right: 1.5vw;
        left: auto;
    }
}

/* final backup 8 jan 2026*/