.label {
  font-size: 0.9rem;
  padding-left: 5px;
  font-family: 'AlinmaTheSans';
  font-weight: normal;
  
}
.progress-bar-wrapper {
  display: flex;
  height: 15px;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  background-color:white;
  gap: 1px;
}
.progress-bar-segment {
  height: 100%;
  flex-shrink: 0;
}
.small-box1 {
  height: 115px;
  position: relative;
  padding: 10px;
  background-color: #FEFDFB;
  border-radius: 15px;
  border: 1px solid rgba(0,0,0,0.1);
}
.small-box1 .box-logo {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px; 
  height: 40px;
  object-fit: contain;
}
.small-box1 .box-info {
  position: absolute;
  bottom: 10px;
  left: 17px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.small-box1 .box-number {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'AlinmaTheSans-Bold';

}

.small-box1 .box-label {
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.695);
  font-family: 'AlinmaTheSans';
  font-weight: normal;
}

.Top1 .left-side h5 {
  font-size: 1.3rem;
   font-family: 'AlinmaTheSans-Bold';
  font-weight: bold;
  margin: 0;
}

.requests-table td img {
  margin-right: 8px; 
  margin-bottom: 4px;
}

.requests-table td {
  padding: 17px 15px;
  text-align: center;
  font-family: 'AlinmaTheSans';
  font-weight: normal;
}

.requests-table tr:not(:last-child) td {
  border-bottom: 1px solid #ccc; 
}
.requests-table th,
.requests-table td {
  font-weight: normal; 
}

.Link{
  text-decoration: none;
  color: black;
}

.word {
  color: rgba(0, 0, 0, 0.475); 
}

.beige-status{
  background-color: #EEE7D7;
  Color: #C1AD85;
  padding: 3px 12px 3px 12px;
  border-radius: 8px;
  font-weight: bold;
  font-family: 'AlinmaTheSans-Bold';
  border: 0.1px solid #c1ad8537;

}

.red-status{
  background-color: #FCE8E1;
  Color: #FF9480;
  padding: 3px 18px 3px 18px;
  border-radius: 8px;
  font-weight: bold;
   font-family: 'AlinmaTheSans-Bold';
   border: 0.1px solid #ff938060;
}
.edit-btn {
  display: inline-flex;
  align-items: center;
  gap: 6px;          
  background-color: #F0DFDB;
  border-radius: 10px;
  padding: 4px 10px;
 
}
.edit-btn.disabled {
  background-color: #F0DFDB;
  color: #999;
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.6;
}
  .Top1{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 38.5rem;
}

 #myInput {
  width: 230px; 
  padding: 6px 10px 6px 30px; 
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  font-family: 'AlinmaTheSans';
  background: url('../images/search-icon.svg') no-repeat 8px center;
  background-size: 15px 15px;
  outline: none;
}

.modal-content {
border-radius: 15px;
}

.left-modal-dialog {
  position: fixed;
  left: 20px; 
  top: 20px;
  margin: 0; 
}

.red-color{
  color: red;
}

.green-color{
color: green;
}

.sentence-container {
  display: flex;
  align-items: center; 
  border-bottom: 1px solid #ccc; 
  padding: 6px 0;
  gap: 15px; 
  padding-bottom: 1rem;
}

.sentence-container:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.left-logo img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.sentence-text {
  margin: 0;
  font-size: 0.8rem;
  font-family: 'AlinmaTheSans';
}

.logo-after {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 0.8rem;
  color: #666;
  margin-top: 2px;
  font-family: 'AlinmaTheSans';

}

.logo-after img {
  width: 16px;
  height: 16px;
}

.bold-sentence{
   font-family: 'AlinmaTheSans-Bold';
}

.modal-body{
  background-color: rgba(128, 128, 128, 0.106); 

}

.modal-title{
   font-family: 'AlinmaTheSans-Bold';
  font-size: 1.1rem;
}

.modal-header{
  gap: 2rem;
}

.custom-dropdown {
  display: flex;
  align-items: center;
  justify-content: space-around; 
  padding: 6px 8px;
  min-width: 90px; 
  font-size: 0.9rem;
  background: #f3e5e5; 
  border-radius: 10px;
  border: none;
  font-family: 'AlinmaTheSans';
}

.dropdown-item {
  padding: 0.5rem 1rem;
  font-family: 'AlinmaTheSans';
}

/* dashboard page */

.header-dashboard {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-dashbord p {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.642);
}

.header-dashboard .left-dashboard {
  padding-left: 1rem;
}

.header-dashboard .right-dashboard img {
  padding-right: 0.3rem;
  width: 200px;  
}

.header-dashboard .left-dashboard h1 {
    font-family: 'AlinmaTheSans-Bold';
    font-weight: bold;
     margin-top: 1.4rem;
     font-size: 1.8rem;
}

.header-dashboard .left-dashboard p {
    font-family: 'AlinmaTheSans';
    font-weight: normal;
     margin: 0;
     font-size: 1rem;
     padding-top: 0.5rem;
}

.toggle-container {
  display: flex;
  align-items: center;
  gap: 100px;
  padding: 25px 5px 25px 15px ;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  width: 260px;
  height: 30px;
  margin-top: 6.5rem ;

}

.toggle-label {
  font-weight: bold;
  font-size: 14px;
  color: #001f3f;
  font-family: 'AlinmaTheSans-Bold';
}
 
.toggle-container .sun{
  width:20px;
  height: 20px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  background-color: #001f3f;
  border-radius: 34px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.4s;
}

.slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

.slider .icon {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  color: white;
}

input:checked + .slider::before {
  transform: translateX(26px);
}

body.dark {
  background-color: #001f3f;
  color: #fdf7f0;
}

body.dark .toggle-container {
  background-color: #002a4d;
  border-color: #003b66;
}

body.dark .toggle-label {
  color: white;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  justify-content: flex-start;
  font-weight: bold;
  border: 1px solid rgba(0, 0, 0, 0.102);
  border-radius: 15px;
  padding: 15px 20px 0 20px;
  background-color: #FEFDFB;
}


.small-box-dashboard {
  height: 100px;
  position: relative;
  padding: 10px;
  margin-top: 1rem;
  background-color: #FEFDFB;
  border-radius: 15px;
  border: 1px solid rgba(0,0,0,0.1);
}

.small-box-dashboard .box-logo-dashboard {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px; 
  height: 40px;
  object-fit: contain;
}

.small-box-dashboard .box-info-dashboard {
  position: absolute;
  bottom: 10px;
  left: 17px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.small-box-dashboard .box-number-dashboard {
  font-size: 1.8rem;
  font-family: var(--Alinma-bold);
  color: rgba(9, 35, 66, 1);
}

.small-box-dashboard .box-label-dashboard {
  font-size: 1rem;
  color: rgba(0, 30, 45, 1);
  font-family: var(--Alinma-plain);
}

.Top-dashboard .left-side-dashboard h5 {
  font-size: 1rem;
   font-family: 'AlinmaTheSans-Bold';
  font-weight: bold;
  margin: 0;
}


 .requests-table-dashboard {
  width: 100%;
}

.requests-table-dashboard th {
  position: relative;
  background-color: #FAF3ED; 
  text-align: center;
  padding: 14px;
  font-family: 'AlinmaTheSans';
  font-weight: normal;
  font-size: 0.8rem;
  
}
.requests-table-dashboard thead tr:first-child th:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.requests-table-dashboard thead tr:first-child th:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.requests-table-dashboard th:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 15%;          
  bottom: 15%;       
  right: 0;
  width: 1px;
  background-color: #ccc;
}

.requests-table-dashboard td img {
  margin-right: 8px; 
  margin-bottom: 4px;
}

.external-icon{
  width: 0.9rem;
}

.requests-table-dashboard td {
  padding: 10px 8px;
  text-align: center;
  font-family: 'AlinmaTheSans';
  font-weight: normal;
  font-size: 0.8rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.requests-table-dashboard tr:not(:last-child) td {
  border-bottom: 1px solid #ccc; 
}
.requests-table-dashboard th,
.requests-table-dashboard td {
  font-weight: normal; 
}

.bold-dashboard {
   font-family: 'AlinmaTheSans-Bold';
  font-weight: bold !important;
}


.Select-btn .small-logo-chevron{
  width: 8px;
  height: 8px;
  padding-top: 3px;
}


.Select-btn {
  display: inline-flex;
  align-items: center;
  gap: 6px;          
  background-color: #F0DFDB;
  border-radius: 8px;
  padding: 4px 6px;
  font-size: 0.8rem;
 
}

.dropdown-menu-custom {
  display: none;
  position: absolute;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  z-index: 10;
  padding: 8px 10px;
}

.dropdown-item-custom {
  display: flex;
  align-items: center;
  gap: 3px;
  padding: 6px 33px 6px 8px;
  cursor: pointer;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  width: 95%; 
  margin: 0 auto;
}

.dropdown-item-custom:last-child {
  border-bottom: none;
}

.dropdown-item-custom:hover {
  background-color: #f5f5f5;
}

.option-icon {
  width: 0.7rem;
  height: 1rem;
  padding-top: 5px;
}

.dropdown-custom.active .dropdown-menu-custom {
  display: block;
}

.dropdown-custom.active .small-logo-chevron {
  transform: rotate(180deg);
}
 
.requests-table-dashboard th img {
  margin-left: 3.5rem; 
  vertical-align: middle;
}

.requests-table-dashboard th:nth-child(1),
.requests-table-dashboard td:nth-child(1), 
.requests-table-dashboard th:nth-child(2),
.requests-table-dashboard td:nth-child(2), 
.requests-table-dashboard th:nth-child(3),
.requests-table-dashboard td:nth-child(3),  
.requests-table-dashboard th:nth-child(5),
.requests-table-dashboard td:nth-child(5)  
{
  text-align: left;
  padding-left: 10px;
  
}


    #myInput {
  width: 215px; 
  padding: 6px 10px 6px 30px; 
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  font-family: 'AlinmaTheSans';
  background: url('../images/search-icon.svg') no-repeat 8px center;
  background-size: 14px 14px;
  outline: none;
 
}


  .Top-dashboard{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 23.5rem;
}


.small-box-dashboard-right h5 {
  margin-bottom: 0;
   font-family: 'AlinmaTheSans-Bold';
}

.custom-dropdown2 {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 150px;
  border-radius: 8px;
  display: none;
  flex-direction: column;
  z-index: 10;
  padding: 5px 0;
}

.dropdown-item {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 6px 10px;
  cursor: pointer;
}

.option-logo {
  width: 16px;
  height: 16px;
}


.purple-circle {
  width: 13px;       
  height: 13px;
  background-color: #9795E0;
  border-radius: 50%;   
  display: inline-block;  
}

.peach-circle {
  width: 13px;          
  height: 13px;
  background-color: #FF9480;
  border-radius: 50%;     
  display: inline-block; 
}

.beige-circle {
  width: 13px;        
  height: 13px;
  background-color: #E9DBD0;
  border-radius: 50%;    
  display: inline-block; 
}

.percentage{
  font-size: 1rem;
  font-weight: bold;
  font-family: 'AlinmaTheSans-Bold';
}
.sentences {
  display: flex;
  align-items: center;    
  justify-content: space-between; 
  width: 100%;
  padding-bottom: 5px;
}

.left-group {
  display: flex;
  align-items: center;
  gap: 5px;
}


.label {
  font-size: 0.9rem;
  padding-left: 5px;
  font-family: 'AlinmaTheSans';
  font-weight: normal;
}


.Top-dashboard-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  padding: 5px 5px;
}

.Top-dashboard-box .left-content-box h5 {
  font-size: 0.9rem;
   font-family: 'AlinmaTheSans-Bold';
}

.custom-dropdown {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 4px 6px;
  font-size: 0.8rem;
  background: #f3e5e5;
  border-radius: 8px;
  border: none;
  font-family: var(--Alinma-plain);
  gap: 3px;
}

.dropdown-item {
  padding: 0.5rem 1rem;
  font-family: 'AlinmaTheSans';
}



.chart-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  width: 100%;
  height: 14rem;
}


.barChart {
  /* width: 228px; */
  height: 18rem;
  display: flex;
  justify-content: center;
  padding-top: 15px;
}

.info-container {
  margin-top: 20px;
}

.sorting-logo{
  width: 1rem;
  height: 1rem;
}


.semi-circle-text {
  position: absolute;
  bottom: 50px;
  text-align: center;
}

.number-text {
  margin-bottom: -8px;
  font-size: 1.7rem;
  font-family: 'AlinmaTheSans-Bold';

}

.label-text {
  font-size: 0.9rem;
  font-family: 'AlinmaTheSans';
}



/* Reports */

.medium-box-reports {
  height: 307px;
  position: relative;
  padding: 10px;
  margin-top: 1rem;
  background-color: #FEFDFB;
  border-radius: 15px;
  border: 1px solid rgba(0,0,0,0.1);
  display: flex;
  justify-content: center;
  align-items: center;     
}


.small-box-reports {
  height: 145px;
  width: 290px !important;
  position: relative;
  padding: 10px;
  margin-top: 1rem;
  background-color: #FEFDFB;
  border-radius: 15px;
  border: 1px solid rgba(0,0,0,0.1);
}


.requests-table-reports {
  width: 100%;
}

.requests-table-reports th {
  position: relative;
  background-color: #FAF3ED; 
  text-align: center;
  padding: 14px;
  font-family: 'AlinmaTheSans';
  font-weight: normal;
  font-size: 0.8rem;
  
}
.requests-table-reports thead tr:first-child th:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.requests-table-reports thead tr:first-child th:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.requests-table-reports th:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 15%;          
  bottom: 15%;       
  right: 0;
  width: 1px;
  background-color: #ccc;
}

.requests-table-reports td img {
  margin-right: 8px; 
  margin-bottom: 4px;
}

.external-icon{
  width: 0.9rem;
}

.requests-table-reports td {
  padding: 10px 19px;
  font-family: 'AlinmaTheSans';
  font-weight: normal;
  font-size: 0.8rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.requests-table-reports tr:not(:last-child) td {
  border-bottom: 1px solid #ccc; 
}
.requests-table-reports th,
.requests-table-dashboard td {
  font-weight: normal; 
}

.bold-reports {
   font-family: 'AlinmaTheSans-Bold';
  font-weight: bold !important;
}


.beige-status-reports{
  background-color: #EEE7D7;
  Color: #C1AD85;
  padding: 3px 12px 3px 12px;
  border-radius: 6px;
  font-weight: bold;
  font-family: 'AlinmaTheSans-Bold';
  border: 0.1px solid #c1ad8537;

}

.red-status-reports{
  background-color: #FCE8E1;
  Color: #FF9480;
  padding: 3px 18px 3px 18px;
  border-radius: 6px;
  font-weight: bold;
   font-family: 'AlinmaTheSans-Bold';
   border: 0.1px solid #ff938060;
}

.green-status-reports{
  background-color: #DEFCE2;
  Color: #448A4D;
  padding: 3px 17px 3px 17px;
  border-radius: 6px;
  font-weight: bold;
   font-family: 'AlinmaTheSans-Bold';
   border: 0.1px solid #448a4d30;

}


.small-box-reports h6{
  font-size: 1rem;
  padding-top: 0.6rem;
  padding-left:0.5rem;
   font-family: 'AlinmaTheSans-Bold';

}

.star{
margin-top: 1.5rem;
padding-left:0.5rem;

}

.big-number{
  font-size: 1.4rem;
  margin-left: 0.5rem;
  margin-right: 0.4rem;
}

.small-number{
  font-size: 0.8rem;
}

.progress-bar-stars {
  display: flex;
  gap: 4px;             
  width: 234px;
  height: 0.5rem; 
  padding-left:0.5rem;
  margin-top:0.5rem;
}

.segment {
  flex: 1;
  height: 100%;
  background-color: #e0e0e0;      
  border-radius: 50px;           
  position: relative;
  overflow: hidden;
}

.segment.full::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;               
  height: 100%;
  background-color: #FF9480;  
 
}

.segment.partial::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;              
  height: 100%;
  background-color: #FF9480;
}

.segment.empty::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;                 
  height: 100%;
  background-color: #FF9480;
}

.Top-reports-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  padding: 3px 5px;
}

.Top-reports-box .left-content-box-reports h5 {
  font-size: 1rem;
   font-family: 'AlinmaTheSans-Bold';
   padding-top: 0.3rem;
}

.box-container-reports {
  display: flex;
  align-items: center;    
  gap: 10px;        
  margin-top: 0.9rem;     
}

.left-logo-reports img {
  width: 47px;
  height: 47px;   
  object-fit: cover;
}

.box-info-reports {
  display: flex;
  flex-direction: column;    
}

.box-number-reports {
  font-family: 'AlinmaTheSans-Bold';
  font-size: 1.3rem;
  margin: 0;
}

.box-label-reports {
  font-family: 'AlinmaTheSans';
  font-size: 0.7rem;
  margin: 0;
  color: rgba(0,0,0,0.6);  
  margin-bottom: 6px; 
}


.Top-reports .left-side-reports h5 {
  font-size: 1.2rem;
   font-family: 'AlinmaTheSans-Bold';
  font-weight: bold;
  margin: 0;
  padding-left: 1rem;
}

  .Top-reports{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 39rem;
}


.chart-label {
  position: absolute;
  top: 1.2rem;    
  left: 1.2rem;   
  font-family: 'AlinmaTheSans-Bold';
  font-size: 1.2rem;

}

#myCircularChart {
    width: 215px !important;
    height: 215px !important;
    margin-top: 3rem;
    transform: rotate(21deg);
}


.chart-center-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  pointer-events: none;
  margin-top: 1.2rem;
}

.chart-center-text .number {
  display: block;
  font-family: 'AlinmaTheSans-Bold';
  font-size: 1.9rem;
}

.chart-center-text .label {
  display: block;
  font-family: 'AlinmaTheSans';
  font-size: 0.8rem;
  margin-top: -4px;
}

.chart-wrapper {
  flex: 1;
  width: 100%;
  padding: 44px 18px 18px 18px;
  box-sizing: border-box;
}

#requestsChart {
  width: 100% !important;
  height: 100% !important;
  display: block;
}

  .chart {
  position: relative;
  width: 330px;
  height: 200px;
  margin: 2rem auto 0;
  z-index: 0;
}

.bars {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  height: 140px;
  position: absolute;
  bottom: 40px;
  left: -10px;
  width: 100%;
}

.bar1 {
  background-color: #9795E0;
  color: white;
  height: 1.5rem;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 0.5rem;
  width: 17.5rem;
  z-index: 2;
  font-size: 0.7rem;
}

.bar2 {
  background-color: black;
  color: white;
  height: 1.5rem;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 0.5rem;
  width: 6.6rem;
  z-index: 2;
  font-size: 0.7rem;
}

.bar3 {
  background-color: #CAD8E1;
  color: white;
  height: 1.5rem;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 0.5rem;
  width: 8.3rem;
  z-index: 2;
  font-size: 0.7rem;

}

.bar4 {
  background-color: #FF9480;
  color: white;
  height: 1.5rem;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 0.5rem;
  width: 12.3rem;
  z-index: 2;
  font-size: 0.7rem;
}


.bar5 {
  background-color: #2FC04F;
  color: white;
  height: 1.5rem;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 0.5rem;
  width: 8.1rem;
  z-index: 2;
  font-size: 0.7rem;
}

.x-axis {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;

}

.x-axis span {
  position: relative;
  font-size: 14px;
  z-index: 1;
}

.x-axis span::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 100%;
  width: 1px;
  height: 180px;
  background: rgba(0,0,0,0.2);
}


.medium-box-reports2 {
  height: 307px;
  width: 370px !important;
  position: relative;
  padding: 10px;
  margin-top: 1rem;
  background-color: #FEFDFB;
  border-radius: 15px;
  border: 1px solid rgba(0,0,0,0.1);
  display: flex;
  justify-content: center;
  align-items: center;     
}

.circleChart {
  position: relative;
}

.segment-label1 {
  position: absolute;
  pointer-events: none; 
  top: 70%;
  left: 73%;
}

.segment-label2 {
  position: absolute;
  pointer-events: none; 
  top: 12%;
  left: 49%;
}

.segment-label3 {
  position: absolute;
  pointer-events: none; 
  top: 58%;
  left: -23.5%;
}

.label-box1 {
  background-color: #ffffff;
  min-width: 80px;
  border-radius: 5px 5px 5px 0;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  font-family: 'AlinmaTheSans-Bold';
  font-size: 12px;
  padding: -1px 22px 2px 10px;
}

.label-box2 {
  background-color: #ffffff;
  min-width: 80px;
  border-radius: 5px 5px 5px 0;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  font-family: 'AlinmaTheSans-Bold';
  font-size: 12px;
  padding: 2px 22px 2px 10px;
}

.label-box3 {
  background-color: #ffffff;
  min-width: 80px;
  border-radius: 5px 5px 0 5px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  font-family: 'AlinmaTheSans-Bold';
  font-size: 12px;
  padding: 2px 22px 2px 10px;
}

.value {
  display: block;
}

.label-text {
  display: block;
  font-size: 10px;
  color: rgba(0, 0, 0, 0.495);
  font-family: 'AlinmaTheSans-Bold';
}

.light{
  color: rgba(0, 0, 0, 0.495);
  font-family: 'AlinmaTheSans';

}
